{% extends "base_problems.html" %}

{% block title %}NoProblem | Connecta{% endblock %}

{% block content %} 
{% load custom_filters %}
{% load scientificfilter %}
{% load i18n %}

{% if not user.is_authenticated %}


<br>
<br>
<br>
<br>
<br>
<br>
<div id="cuadro2b">No problem! es una herramienta didáctica basada en la resolución de problemas
que refuerza el aprendizaje de las ciencias a nivel de educación secundaria.</div>




{% endif %}

{% if user.is_authenticated %}

<br><br>
<div>
¡Hola <a href="/problems/user_detail"><b>{{ user.get_profile.user.username }}</b></a>! Te damos la bienvenida a la
red de problemas <b>No problem!</b> Escoge una categoría y empieza a jugar:
</div>
<br><br><br>
<div style="width=1500px;height:230px;padding-left:100px;">
<ul id="int">
{% for cat in categorias %}
<li><a style="color:black;font-weight: normal; text-decoration: none;" href="/problems/tree/{{ cat.id }}">
<div id="cuadro2" style="width:130px;background-color:{{colores_cuadros|lookup:forloop.counter0}};">{{ cat.name }}</div></li>
</a>
{% endfor %}
</ul>
</div>
<a href="/accounts/logout?next=/problems/bienvenida">Log Out</a>
 
{% else %} 
<p>

{% with '/problems/bienvenida' as next %}
{% include 'auth.html' %}
{% endwith %}
<br>
<div style="text-align:center">Si todavía no estás registrado entra 
<a href="/accounts/register?next=../../problems/bienvenida">aquí</a>.
</div>

{% endif %}

{% endblock %}





