{% extends "base_problems.html" %}

{% block title %}NoProblem | Connecta{% endblock %}

{% block content %} 
{% load custom_filters %}
{% load scientificfilter %}
{% load i18n %}

{% if not user.is_authenticated %}



<br>
<br>
<br>
<br>
<br>
<br>
<div id="cuadro2b">No problem! es una herramienta didáctica basada en la resolución de problemas
que refuerza el aprendizaje de las ciencias a nivel de educación secundaria.</div>




{% endif %}

{% if user.is_authenticated %}

<br><br>
<div>
¡Hola <a href="{% url problems:user_detail %}"><b>{{ user.get_profile.user.username }}</b></a>! Te damos la bienvenida a la
red de problemas <b>No problem!</b> Escoge una categoría y empieza a jugar:
</div>
<br><br><br>
<div style="width=1500px;height:230px;padding-left:100px;">
<ul id="int">
{% for cat in categorias %}
<li><a style="color:black;font-weight: normal; text-decoration: none;" href="{% url problems:tree cat.id %}">
<div id="cuadro2" style="width:130px;background-color:{{colores_cuadros|lookup:forloop.counter0}};">{{ cat.name }}</div></li>
</a>
{% endfor %}
</ul>
</div>

<div style="margin-left:27%;text-align:center;float:left;width:100%;">
<div style="float:left;width:25%"><a href="/problems/bienvenida/contacto/">¿Has encontrado algún error?</a></div>
<div style="float:left;width:15%"><a href="/problems/bienvenida/contacto/">Sugiere un problema</a></div>
</div>
<br><br>
<div class="showhimtext">
<div style="color:gray;text-align:center"><b>Instrucciones</b></div>
<div class="showmetext" id="cuadro">
<ul>
<li>En cada categoría encontrarás una red tipo árbol en cuyos nodos hay problemas para
resolver. Resolver un problema te permitirá desbloquear 
otros niveles del árbol que contienen problemas relacionados.</li>
<li>Por cada problema resuelto obtendrás unos puntos (puedes consultar los puntos que tienes en tu 
perfil de usuario), esos puntos te permitirán <i>comprar información</i>: Si necesitas ayuda con un problema
puedes entrar al foro de ese mismo problema y preguntar, ahora bien, entrar en el foro tiene un precio
que tendrás que pagar con tus puntos.</li>
<li>Si necesitas puntos extra, puedes entrar en el foro de un problema y responder alguna pregunta
de otro usuario; si tu ayuda es válida, obtendrás unos puntos a cambio.</li>
<li>Los administradores </li>
</ul>
</div></div>



 
{% else %} 
<p>

{% with '/problems/bienvenida' as next %}
{% include 'auth.html' %}
{% endwith %}
<br>
<div style="text-align:center">
Si todavía no estás registrado entra <a href="{% url accounts:register %}?next=/problems/bienvenida">aquí</a>.
</div>

{% endif %}

{% endblock %}





