{% extends "base_problems.html" %}

{% block title %}Connecta - NoProblem{% endblock %}

{% block content %} 
{% load custom_filters %}
{% load scientificfilter %}
{% load i18n %}

<style type="text/css">
div.spacer {
	clear: both;
}

#problemdata,#senddata{
	text-align:center;
}

#alldata {
	text-align: center;
}

#alldata #problemdata{
	text-align: left;
}

</style>

<script language="javascript"> 

var startCount = 0;

function showdata() {
	var ele = document.getElementById("problemdata");
	var butt_ini = document.getElementById("muestrabutton");
	var butt_end = document.getElementById("finishedbutton");
	ele.style.display = "block";
	butt_ini.disabled = true;
	butt_end.disabled = false;
	window.startCount = new Date();
} 

function get_time_difference(earlierDate,laterDate)
{
       var nTotalDiff = laterDate.getTime() - earlierDate.getTime();
       var oDiff = new Object();
 
       oDiff.days = Math.floor(nTotalDiff/1000/60/60/24);
       nTotalDiff -= oDiff.days*1000*60*60*24;
 
       oDiff.hours = Math.floor(nTotalDiff/1000/60/60);
       nTotalDiff -= oDiff.hours*1000*60*60;
 
       oDiff.minutes = Math.floor(nTotalDiff/1000/60);
       nTotalDiff -= oDiff.minutes*1000*60;
 
       oDiff.seconds = Math.floor(nTotalDiff/1000);
 
       return oDiff;
 
}

// Function Usage
function use_time_difference()
{
	dateCurrent = new Date();
	oDiff = get_time_difference(window.startCount, dateCurrent);
	alert("It has been " + oDiff.minutes + " minutes " + oDiff.seconds + " seconds since the exercise started.");
}


function onClickCheck() {	
	use_time_difference();
}

function submitForm() {
	dateCurrent = new Date();
	oDiff = get_time_difference(window.startCount, dateCurrent);
	document.solverform.time.value = oDiff.hours + ":" + oDiff.minutes + ":" + oDiff.seconds;
	document.solverform.prdata.value = JSON.stringify({{ probdata }});
    return true;
}

</script>

<p>
<div id="cuadroup">
<b>{{ prob.title }}</b>
</div>
<div id="cuadro">
<!-- {% trans "Enunciado del problema." %} -->

{{ prob.wording|linebreaksbr }}
</div>


<!-- 
<div id="title">
<h3>{{ prob.category }}</h3>
</div>
 -->

<div class="spacer">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>


{% trans "Mostrar datos" as show_data_button %}
{% trans "Enviar resultado" as sendres_button %}

<div style="font-size:10pt;color:gray;">
<p>
{% blocktrans %} Haz click en el botón "{{ show_data_button }}" para ver
los datos del problema{% endblocktrans %}.
{% trans "A partir de este momento empezará a contar el tiempo" %}. 
{% blocktrans count nout as nout %}
Una vez solucionado el problema, copia el resultado, pulsa el botón "{{ sendres_button }}" y
pega el valor obtenido en el campo de texto que aparecerá.<br/> 
{% plural %}
Una vez solucionado el problema, copia los resultados, pulsa el botón "{{ sendres_button }}" y
pega los valores obtenidos en los campos de texto que aparecerán.
{% endblocktrans %}<br/> 
</p>
</div>

<div id='alldata'>
<button id='muestrabutton'
		type=button
        onclick="javascript:showdata();">
        {{ show_data_button }}
</button>

<button onclick="location.href='{% url forum:thread hilo %}'">Entrar al foro</button>

<div id='problemdata' style="display: none">
<ul>
{% for d in probdata %}
<li>{{ d }}</li>
{% endfor %}
</ul>

<div id='senddata'>
<form name="solverform" action="{% url problems:sendresult prob.id %}" method="post">
{% csrf_token %}
{% blocktrans count nout as nout %}
Resultado
{% plural %}
Resultados
{% endblocktrans %} <br>
		{% for i in nout|get_range %}
		<input type="text" name="result{{forloop.counter0}}"><br>
		{% endfor %}
		<input type="hidden" name="time">
		<input type="hidden" name="prdata">
<button id='finishedbutton'
		type="submit"
        onclick="javascript:submitForm();"
        disabled=true>
        {{ sendres_button }}
</button>

</form>

</div>
</div>

{% endblock %}





