{% extends "base_problems.html" %}

{% block title %}Connecta - NoProblem{% endblock %}

{% block content %}

{% load i18n %}

<style type="text/css">


div.spacer {
	clear: both;
}


#data,#senddata{
	text-align:center;
}

#alldata {
	text-align: center;
}

#alldata #data{
	text-align: left;
}

#wording ul {
	position: relative;
	background-color: #CCC;
	list-style-type: circle;
	margin: 10%;
	padding: 5%;
	float: none;
}


#wording ul li .user {
	color:#8F2250
}

#wording ul li .resok {
	color: #009900
}

#wording ul li .resfail {
	color: #CC0000
}

#piechart {
	text-align:center;	
}
</style>



{% load custom_filters %}

<p>

<div class="spacer">
</div>

<div id="cuadroup">
{% blocktrans with prob.title as title %}
<b>Estadísticas para {{ title }}</b>
{% endblocktrans %}
</div>
<div id="cuadro">


{% if solves_list %}

<!-- 
Intento decir si es correcta o no la última respuesta que ha dado el usuario al problema, pero después de varias intentonas
con loopbreak y otras cosas no lo consigo
 -->
<!-- 
	{% for res in solves_list|slice:"::-1" %}	
    	{% if res.user.id == user.id %}
   			{% if res.is_correct %}
        		<span class="resok">{% trans "Correcto!" %}</span>
        	{% else %}
				<span class="resfail">{% trans "Incorrecto!" %}</span>
			{% endif %}
		{%endif%}
    {% endfor %}
 -->

	<!-- Imprimo numero de veces solucionado -->
	{% blocktrans count solves_list|length as counter with prob.title as title %}
	El problema {{ title }} se ha intentado resolver una vez
	{% plural %}
	El problema {{ title }} se ha intentado resolver {{ counter }} veces
	{% endblocktrans %}
	{% if oks %}
	{% blocktrans %}, {{ oks }} han sido correctas.{% endblocktrans %}
	{% else %}
	.
	{% endif %}
	<br />
	
	<!-- Tiempo medio de resolucion del problema -->
	{% if nok %}
	{% blocktrans %}
	El tiempo medio que has utilizado para resolver este problema es de {{ avg_time }}
	{% endblocktrans %}
	<br />
	{% endif %}
    
    <!-- Grafica porcentaje de correctos/incorrectos -->
    <div id="piechart">
    <img src='{{ chart_url }}' alt="Solves chart"/>
    </div>

	<!-- Lista de usuarios que lo han solucionado -->


	Esta es tu lista de intentos para este problema:
    <ul>
    {% for res in solves_list %}
    {% if res.user.id == user.id %}
        	<li>
        	{% blocktrans with res.date as date and res.time as time %}
        	El {{ date }}, resuelto en {{ time }} &rarr;
        	{% endblocktrans %}
        	{% if res.is_correct %}
        		<span class="resok">{% trans "Correcto!" %}</span>
        	{% else %}
				<span class="resfail">{% trans "Incorrecto!" %}</span>
			{% endif %}
			</li>
	{%endif%}
    {% endfor %}
    </ul>
    
    <!-- Aquí habria que hacerlo de forma que si no hay usuarios,
	 no aparezca el texto. Por ejemplo, generar la lista en
	 la vista. -->
    <p>
    Usuarios que han resuelto este problema:
    <ul>
    {% for pas in solves_list %}
    {% if pas.is_correct %}
    <li>
    {{ pas.user }}
    {% blocktrans with pas.date as date and pas.time as time %}
        	el {{ date }}, resuelto en {{ time }}
    {% endblocktrans %}
	</li>
	{% endif %}
    {% endfor %}
    </ul>
    
    
    <!-- Cálculo de porcentajes de solución -->
    
    
{% else %}
  <p>
  {% trans "No existen resultados disponibles." %}
  {% blocktrans with prob.title as title %}
  El problema {{ title }} todavía no ha sido resuelto
  {% endblocktrans %}
  </p>
{% endif %}
</div>
<br>
<div style="text-align:center;">
<button onclick="location.href='{% url problems:tree cat.id %}'">Volver al árbol</button>
<!-- <button onclick="location.href='#'">Siguiente problema</button> -->
</div>

{% endblock %}