{% extends "base_problems.html" %}

{% block title %}Connecta - NoProblem{% endblock %}

{% block content %}

{% load i18n %}

<style type="text/css">


div.spacer {
	clear: both;
}



#data,#senddata{
	text-align:center;
}

#alldata {
	text-align: center;
}

#alldata #data{
	text-align: left;
}

#wording ul {
	position: relative;
	background-color: #CCC;
	list-style-type: circle;
	margin: 10%;
	padding: 5%;
	float: none;
}


#wording ul li .user {
	color:#8F2250
}

#wording ul li .resok {
	color: #009900
}

#wording ul li .resfail {
	color: #CC0000
}

#piechart {
	text-align:center;	
}
</style>



{% load custom_filters %}

<p>

<div class="spacer">
</div>

<div id="cuadroup">
{% blocktrans with prob.title as title %}
<b>Statistics for {{ title }}</b>
{% endblocktrans %}
</div>
<div id="cuadro">


{% if solves_list %}

	<!-- Imprimo numero de veces solucionado -->
	{% blocktrans count solves_list|length as counter with prob.title as title %}
	Problem {{ title }} has been tried to solve just once
	{% plural %}
	Problem {{ title }} has been tried to solve {{ counter }} times already
	{% endblocktrans %}
	{% if oks %}
	{% blocktrans %}, being solved correctly {{ oks }} of them.{% endblocktrans %}
	{% else %}
	.
	{% endif %}
	<br />
	
	<!-- Tiempo medio de resolucion del problema -->
	{% if nok %}
	{% blocktrans %}
	Average time for solving this problem is {{ avg_time }}
	{% endblocktrans %}
	<br />
	{% endif %}
    
    <!-- Grafica porcentaje de correctos/incorrectos -->
    <div id="piechart">
    <img src='{{ chart_url }}' alt="Solves chart"/>
    </div>

	<!-- Lista de usuarios que lo han solucionado -->
    <ul>
    {% for res in solves_list %}
        <li><span class="user">{{ res.user }}</span>
        {% blocktrans with res.date as date and res.time as time %}
        at {{ date }} and solved in {{ time }} time.
        {% endblocktrans %}
        {% if res.is_correct %}
        	<span class="resok">{% trans "correct!" %}</span>
        {% else %}
			<span class="resfail">{% trans "failed!" %}</span>
		{% endif %}
	</li>
    {% endfor %}
    </ul>
    
    <!-- Cálculo de porcentajes de solución -->
    
    
{% else %}
  <p>
  {% trans "No results are available." %}
  {% blocktrans with prob.title as title %}
  Problem {{ title }} still hasn't been solved
  {% endblocktrans %}
  </p>
{% endif %}

</div>

{% endblock %}