{% extends "base_problems.html" %}

{% block title %}Connecta - NoProblem{% endblock %}

{% block content %}

{% load i18n %}
{% load custom_filters %}

<style type="text/css">

div {
	display: block;
}

#graph-wrapper{
	width: 100%;
}

.clear {
	clear:both;
}

g ellipse {
	-webkit-transition: all 350ms;
}

g.node ellipse {
	fill: WhiteSmoke;
}
g.node.solved ellipse {
	fill: honeydew;
}
g.node.tosolve ellipse {
	fill: mistyrose;
}

</style>

{% if not notree %}

<div id="tree_wrapper" style="text-align:center;">
{% with 1 as factorx and 100 as factory %}
{% with 9 as textsize %}
<svg id="problem-tree" width="{{svgwidth|add:centerx|add:centerx|multiplyperfactor:factorx}}" height="{{nlayers|multiplyperfactor:factory}}" xmlns="http://www.w3.org/2000/svg" xlink="http://www.w3.org/1999/xlink" ">
	<defs>
		{% with 15 as markerlength and 10 as markerwidth %}
		<marker id='head' orient='auto' markerWidth='{{markerlength}}' markerHeight='{{markerwidth}}'
				refX='{{markerlength}}' refY='{{markerwidth|half}}'>
			<path d='M0,0 V{{markerwidth}} L{{markerlength}},{{markerwidth|half}} Z' fill='black' />
		</marker>
		{% endwith %}
	</defs>
	
	{% set last = 1 %}
	{% for e in edges %}
		{% if e|lookup:2 %}
			{% if last > 0 %}
	<g id="edge{{forloop.count}}" class="edge" >
		<path marker-end='url(#head)' stroke-width='0.5' fill='none' stroke='gray'
		d='M {{ e|lookup:1|lookup:0|multiplyperfactor:factorx|add:centerx }},{{ e|lookup:1|lookup:1|multiplyperfactor:factory|add:centery|add:yradio }}
		   C {{ e|lookup:1|lookup:0|multiplyperfactor:factorx|add:centerx|add:centerx|add:5 }},{{ e|lookup:1|lookup:1|multiplyperfactor:factory|add:centery|add:yradio }}
		   {{ e|lookup:0|lookup:0|multiplyperfactor:factorx|add:centerx|add:centerx|add:5 }} {{ e|lookup:0|lookup:1|multiplyperfactor:factory|add:centery|substract:yradio }}
			{{ e|lookup:0|lookup:0|multiplyperfactor:factorx|add:centerx }} {{ e|lookup:0|lookup:1|multiplyperfactor:factory|add:centery|substract:yradio }}' />
	</g>
				{% set last = 0 %}
			{% else %}
	<g id="edge{{forloop.count}}" class="edge" >
		<path marker-end='url(#head)' stroke-width='0.5' fill='none' stroke='gray'
		d='M {{ e|lookup:1|lookup:0|multiplyperfactor:factorx|add:centerx }},{{ e|lookup:1|lookup:1|multiplyperfactor:factory|add:centery|add:yradio }}
		   C {{ e|lookup:1|lookup:0|multiplyperfactor:factorx|add:centerx|substract:centerx|substract:5 }},{{ e|lookup:1|lookup:1|multiplyperfactor:factory|add:centery|add:yradio }}
		   {{ e|lookup:0|lookup:0|multiplyperfactor:factorx|add:centerx|substract:centerx|substract:5 }} {{ e|lookup:0|lookup:1|multiplyperfactor:factory|add:centery|substract:yradio }}
			{{ e|lookup:0|lookup:0|multiplyperfactor:factorx|add:centerx }} {{ e|lookup:0|lookup:1|multiplyperfactor:factory|add:centery|substract:yradio }}' />
	</g>
				{% set last = 1 %}
			{% endif %}
		{% else %}
	<g id="edge{{forloop.count}}" class="edge" >
		<path marker-end='url(#head)' stroke-width='0.5' fill='none' stroke='gray'
		d='M {{ e|lookup:1|lookup:0|multiplyperfactor:factorx|add:centerx }},{{ e|lookup:1|lookup:1|multiplyperfactor:factory|add:centery|add:yradio }}
			{{ e|lookup:0|lookup:0|multiplyperfactor:factorx|add:centerx }} {{ e|lookup:0|lookup:1|multiplyperfactor:factory|add:centery|substract:yradio }}' />
	</g>
		{% endif %}
	{% endfor %}
	
	<!--
	{% for prob,v in pr_dict.items %}
		{% for child in prob.get_children %}
	<g id="edge15" class="edge" >
		<path marker-end='url(#head)' stroke-width='0.5' fill='none' stroke='gray'
		d='M {{ v|lookup:0|multiplyperfactor:factorx|add:centerx }},{{ v|lookup:1|multiplyperfactor:factory|add:centery|add:yradio }}
			{{ pr_dict|keyvalue:child|lookup:0|multiplyperfactor:factorx|add:centerx }} {{ pr_dict|keyvalue:child|lookup:1|multiplyperfactor:factory|add:centery|substract:yradio }}' />
	</g>
		{% endfor %}

	{% endfor %}
	-->
	
	{% for prob,v in pr_dict.items %}
	<g id="problem{{prob.id}}"
	   transform="translate({{ v|lookup:0|multiplyperfactor:factorx }} {{ v|lookup:1|multiplyperfactor:factory }} )" 
	   {% if user.is_authenticated and prob|issolved:user %}
	   class="node solved"
	   {% elif user.is_authenticated and prob|nexttosolve:user %}
	   class="node tosolve"
	   {% else %}
	   class="node"
	   {% endif %}
	   data-content="Solved by 5651 (correct ratio 69.5%).&lt;p class=&quot;topics&quot;&gt;&lt;strong&gt;Topics&lt;/strong&gt;: &lt;span class=&quot;topic&quot;&gt;String Algorithms&lt;/span&gt;&lt;/p&gt;" rel="popover" data-original-title="“Counting DNA Nucleotides”">
	   {% if user.is_authenticated and prob|nexttosolve:user or prob|issolved:user %}
		<a xlink:href="{% url problems:detail prob.id %}"> 
		{% endif %}
			<ellipse fill="#FFF" stroke="black" cx="{{centerx}}" cy="{{centery}}" rx="{{xradio}}" ry="{{yradio}}"></ellipse>
			{% with textsize|half as halftext %}
			<text text-anchor="middle" x="{{centerx}}" y="{{centery|add:halftext}}" font-family="Times Roman,serif" font-size="{{textsize}}pt">{{prob.title}}</text>
			<!-- <text id="popup{{prob.id}}" x="{{centerx|add:xradio|add:3}}" y="{{centery|add:halftext}}" font-size="{{textsize}}pt" fill="black" visibility="hidden">Problema {{prob.id}}
				<set attributeName="visibility" from="hidden" to="visible" begin="problem{{prob.id}}.mouseover" end="problem{{prob.id}}.mouseout"/>
			</text> -->
			{% endwith %}
		{% if user.is_authenticated and prob|nexttosolve:user or prob|issolved:user %}
		</a>
		{% endif %}
	</g>
	{% endfor %}
{% endwith %}
{% endwith %}
</svg>
</div>

{% else %}
<p>
{% trans "Ahora mismo no hay problemas en esta categoría, ¡prueba más adelante!" %}

{% endif %}

{% endblock %}