{% extends "base.html" %}

{% block title %}Connecta - NoProblem{% endblock %}

{% block content %} 
{% load custom_filters %}
{% load scientificfilter %}
{% load i18n %}

<style type="text/css">
#title {
	color:#8F2250;font-family:Annie Use Your Telescope;
}
#title h1 {
	float: left;
	text-align: left;

}
#title h3 {
	float: right;
	text-align: left;
}

div.spacer {
	clear: both;
}

body {
	/*background: #F0F0F0;*/
	background:white;
	font: 14px Trebuchet MS, Trebuchet, Helvetica, Arial;
	line-height: 130%;
	margin-top: 0px;
    margin-right: 90px;
    margin-bottom: 0px;
    margin-left: 90px; /*márgenes del body respecto al html completo*/
    padding: 10px 10px 50px 10px;/*márgenes del texto dentro del body*/
    border-left:solid 1px;
    border-right:solid 1px;
    border-color:black;  
    border-bottom:none; 
}

#wording{
	/*background: #F0F0F0;*/
    padding: 20px 20px 30px 30px;/*márgenes del texto dentro del body*/
    border-left:solid 1px;
    border-right:solid 1px;
    border-color:black;  
    border-bottom:solid 1px; 
	border-top:solid 1px; 
}

#data,#senddata{
	text-align:center;
}

#alldata {
	text-align: center;
}

#alldata #data{
	text-align: left;
}

</style>


<div id="title">
<h1>{% blocktrans with user.get_profile.user.username as username %} Problems list for user {{ username }} {% endblocktrans %}</h1>
<h3>@{% now "jS F Y H:i:s" %}</h3>
</div>

<div class="spacer">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>

<!-- Contexto:
					  'num_resueltos': n_solved_total,
					  'num_resueltos_ok': n_solved_total_ok,
					  'prob_list': all_problems,
					  'tasa_acierto_por_problema': n_solved_pct_ok,
					  'tasa_acierto_global': n_pct_ok,
					  'nprob': n_problems,
                      'sprob_list_list': solved_list_by_problem,
                      -->

<div class="statsinfo">
En este momento tenemos disponibles un total de <span id="num">{{ nprob }}</span> problemas.<br />
Has intentado resolver <span id="num">{{ num_resueltos }}</span> problemas, de los cuales
has acertado <span id="num">{{ num_resueltos_ok }}</span>.<br />
<br/>
Aquí tienes tus envíos de resultados:
<div id="solvedproblemlist" class="problemlist">

{% if sprob_list_list %}
	<ul>
	{% for s_list in sprob_list_list %}
		{% if s_list %}
			{% with s_list.0.prob as problem %}
				<li> <a href=/problems/{{problem.id}}>Problem {{ problem.title }}</a>
				({% blocktrans count s_list|length as counter %} {{ counter }} send
				{% plural %} {{ counter }} sends {% endblocktrans %}  )
			{% endwith %}
			<ul>
			{% for solve in s_list %}
				<li>
				{% blocktrans with solve.date as date and solve.time as time %}
				at {{ date }} and solved in {{ time }} time.
				{% endblocktrans %}
				{% if res.is_correct %}
					<span class="resok">{% trans "correct!" %}</span>
				{% else %}
					<span class="resfail">{% trans "failed!" %}</span>
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	Aún no has enviado ningún resultado
{% endif %}
</div>

Estos son los próximos a realizar:
{{ prob_list }}
{{ prob_unsolved_id }}
<div id="tosolveproblemlist" class="problemlist">
	<ul>
	{% for i in prob_unsolved_id %}
		{% with prob_list|lookup:i as problem %}
		<li> <a href=/problems/{{problem.id}}>Problem {{ problem.title }}</a> </li>
		{% endwith %}
	{% endfor %}
	</ul>
</div>


</div>


{% for d in prob.data %}
<li>{{ d }}</li>
{% endfor %}
</ul>

{% endblock %}





