{% extends "base_problems.html" %}

{% block title %}Connecta - NoProblem{% endblock %}

{% block content %} 
{% load custom_filters %}
{% load scientificfilter %}
{% load i18n %}


<br>

<div id="diva">
<div id="cuadroup">
<b>{% blocktrans with user.get_profile.user.username as username %} ¡Hola {{ username }}! {% endblocktrans %}
{% trans "Estos son los detalles de tu cuenta" %}:</b>
</div>
<div id="cuadro">
<div>
{% blocktrans with user.get_profile.credits as ncredits %}
Tienes un total de <span id="num">{{ ncredits }}</span> creditos.<br/>
{% endblocktrans %}
{% blocktrans %}
En este momento tenemos disponibles un total de <span id="num">{{ nprob }}</span> problemas.<br />
{% endblocktrans %}
{% blocktrans %}
Has intentado resolver <span id="num">{{ num_resueltos }}</span> problemas, de los cuales
has resuelto correctamente <span id="num">{{ num_resueltos_ok }}</span>.
{% endblocktrans %}
<br/>
<br/>
{% trans "Aquí tienes tus envíos de resultados" %}:
<div id="solvedproblemlist" class="problemlist">

{% trans "Problema" as problema_text %}
{% if sprob_list_list %}
	<ul>
	{% for s_list in sprob_list_list %}
		{% if s_list %}
			{% with s_list.0.prob as problem %}
				<li> <a href={% url problems:detail problem.id %}>{{ problema_text }} {{ problem.title }}</a>
				({% blocktrans count s_list|length as counter %} {{ counter }} envío{{ counter|pluralize }}
				{% plural %} {{ counter }} envíos {% endblocktrans %}  )
			{% endwith %}
			<ul>
			{% for solve in s_list %}
				<li>
				{% blocktrans with solve.date as date and solve.time as time %}
				el {{ date }} y resuelto en {{ time }}.
				{% endblocktrans %}
				{% if solve.is_correct %}
					<span class="resok">{% trans "correcto!" %}</span>
				{% else %}
					<span class="resfail">{% trans "incorrecto!" %}</span>
				{% endif %}
				</li>
			{% endfor %}
			</ul>
			</li>
		{% endif %}
	{% endfor %}
	</ul>
{% else %}
	{% trans "Aún no has enviado ningún resultado" %}.
{% endif %}
</div>
{% if prob_cansolve or prob_nextsolve %}
{% trans "Estos son los próximos a realizar" %}:
<div id="tosolveproblemlist" class="problemlist">
	<ul>
	{% for prob in prob_cansolve %}
		<li id='cansolve'> <a href={% url problems:detail prob.id %}>{{ problema_text }} {{ prob.title }}</a> </li>
	{% endfor %}
	{% for prob in prob_nextsolve %}
		<li id='cantsolve'>{{ problema_text }} {{ prob.title }}</li>
	{% endfor %}
	</ul>
</div>
{% endif %}


</div>


</div>
</div>

<div id="divb">
</div>

<div id="divc">
</div>


<div class="spacer">
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>

<!-- Contexto:
					  'num_resueltos': n_solved_total,
					  'num_resueltos_ok': n_solved_total_ok,
					  'prob_list': all_problems,
					  'tasa_acierto_por_problema': n_solved_pct_ok,
					  'tasa_acierto_global': n_pct_ok,
					  'nprob': n_problems,
                      'sprob_list_list': solved_list_by_problem,
                      -->


{% endblock %}





