
{% extends "base_problems.html" %}

{% block title %}NoProblem | Connecta{% endblock %}

{% block content %} 


<style>

 .hidden {
 	display: none;
 	visibility: hidden;
 }
 
 </style>
<br>

<!-- {{ title }} -->

<!-- {{ subject }} -->

<form method="POST" action="{{ action }}">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {% for field in form.hidden_fields %}
        {{ field }}
    {% endfor %}
<br>
    {% for field in form.visible_fields %}
    	<div class="fieldWrapper">
        {{ field.label }}:<br> {{ field }}
        </div>
    {% endfor %}
    <p><input type="submit" value="Enviar" /></p>
</form>

{% endblock %}