<!-- Posts  -->

{% extends "base_problems.html" %}

{% block title %}NoProblem | Connecta{% endblock %}

{% block content %} 

{% if unsolved %}
<br><br>

<div style="text-align:center;">

Recuerda que cada vez que entres en el foro, si no has resuelto todavía el problema, 
consumirás 1 punto.

<br/><br/>
<button onclick="location.href='{% url forum:payforumentrance pk %}'">Pagar puntos</button>
<br/><br/>
</div>

<div class='errormessage'>
{% if message %}
{{ message }}
<br/>
<br/>
{% endif %}
</div>

{% else %}

<br>
<div style="text-align:center;"><h2>{{ title }}</h2></div>
<div id="list">

    {% for post in posts.object_list %}
        <div class="post">
        	<a href="{% url forum:post 'reply' post.pk %}"></a>
           <!--  {{ post.title }}<br /> -->
            <div id="cuadroup">{{ post.creator }} | {{ post.created }} <br></div>
            <div id="cuadro">
            {{ post.body }}  </div>
        </div>
        <br>
    {% endfor %}
    <br>
</div>

<!-- Next/Prev page links
    ...
-->

<div style="text-align:right;"><a class="button" href="{% url forum:post 'new_message' pk %}">Pregunta o responde</a>
</div>
<br>

{% endif %}

<div style="text-align:center;width:100%;">   
<a href="{% url problems:detail pr.pk %}">Volver al {{ title }}</a>
</div>



{% endblock %}