/*Texto rotatorio*/
/*
<script type="text/javascript">
var indice = 0;
frases = new Array();
frases[0] = "Centro de Promoción Científica";
frases[1] = "Tu aula de ciencias";
indice = Math.random()*(frases.length);
indice = Math.floor(indice);
function rotar() {
if (indice == frases.length) {indice = 0;}
document.getElementById("rotando").innerHTML = frases[indice];
indice++;
setTimeout("rotar();",5000);
}
</script>
<div id="rotando"></div><script type="text/javascript">rotar();</script>
*/





/*Como hacer un hover con lista del tamaño de la pantalla y definiendo recuadros*/
/* 
#ddd {
position: relative;
width: 1000px;
height: 728px;
background: #F0F0F0 url('hola.png') no-repeat;
background-size: 500px;
background-position: center top;
padding: 0;
}
#ddd li {
display: block;
position: absolute;
list-style: none;
margin: 0;
padding: 0;
}
#ddd a {
display: block;
text-indent: -9999px;
text-decoration: none;
outline: none;
cursor: default;
}
#div {
border:solid;border-color:red;
left: 310px;
top: 200px;
}
#did {
border:solid;border-color:blue;
left: 380px;
top: 92px;
z-index: 30;
}
#des {border:solid;
left: 520px; 
top: 160px; 
z-index: 10;}

#div a {
width: 160px;
height: 90px;
}
#did a {
width: 160px;
height: 60px;
}
#des a {
width: 160px;
height: 60px;
}
#div a:hover {
background: url('hola2.png') -298px -439px no-repeat;
}
#did a:hover {
background: url('hola3.png') -298px -439px no-repeat;
}
#des a:hover {
background: url('hola4.png') -298px -439px no-repeat;
}
 */
 /*SU HTML ES:
 <ul id="ddd">
 <li id="nth-of-type(1)"><a href="/divulgacion/" title="">Divulgación</a></li>
 <li id="nth-of-type(2)"><a href="/didactica/" title="">Didáctica</a></li>
 <li id="nth-of-type(3)"><a href="/desarrollo/" title="">Desarrollo</a></li>
 </ul> 
 */
 
 
 
/*Cómo hacer hover sobre imagen creando un background que cambia pulsando sobre elementos de lista externa*/
/*
body {
 display:block;
 background-color: #F0F0F0;
 background-position: center top;
 background-repeat: no-repeat;
 background-image: url('hola.png');
 background-size: 600px;
 font: 16px Trebuchet MS, Trebuchet, Helvetica, Arial;
 line-height: 120%;
} 

#ddd a {
display: block;
text-indent: -9999px;
text-decoration: none;
outline: none;
cursor: default;
}

li:nth-of-type(1) {
border:solid;border-color:red;
left: 310px;
top: 200px;
z-index: 10;
}
li:nth-of-type(2) {
border:solid;border-color:blue;
left: 380px;
top: 92px;
z-index: 30;
}
li:nth-of-type(3) {border:solid;
left: 520px; 
top: 160px; 
z-index: 10;}



a:hover:before {
        content: '';
        position: absolute;
        display: block;
        top: 0; bottom: 0; left: 0; right: 0;
        z-index: -1;
}
li:nth-of-type(1) a:hover:before {
        background: url('hola2.png') no-repeat;
        background-size:600px;
        background-position: center top;
}
li:nth-of-type(2) a:hover:before {
        background: url('hola3.png') no-repeat;
        background-size:600px;
        background-position: center top;
}
li:nth-of-type(3) a:hover:before {
        background: url('hola4.png') no-repeat;
        background-size:600px;
        background-position: center top;
}
*/ 
 /*SU HTML ES:
<ul id="ddd">
<li id="div"><a href="#">Divulgación</a></li>
<li id="did"><a href="#">Didáctica</a></li>
<li id="des"><a href="#">Desarrollo</a></li>
</ul> 
 */
 /*****************PRIMEROS EVENTOS
 <p>
<div align="right"><b>Bar de ciencias</b></div>
<i>Què és el Higgs? On l'han trobat?</i>
<p>Charla-debate dirigida por el Profesor de la Universitat de València Santiago González de la Hoz
sobre el reciente descubrimiento del Higgs. 
<br>La duración aproximada de la charla y el debate es de una hora en total.
<a class="showhimtext"><div>
Leer más
<div class="showmetext" id="cuadro">El passat 4 de juliol es va anunciar el descobriment d'una nova partícula, al
"Large Hadron Collider" (LHC) del CERN, amb enorme importància per a la
comprensió de l'estructura de la matèria al nivell més bàsic. La confirmació de
l'existència del bosó de Higgs té per a la física fonamental una rellevància
equiparable a la que va tenir el descobriment de l'ADN en biologia o l'evidència
de l'estructura atòmica i molecular en química. A nivell tecnològic suposa una
fita comparable a l'arribada de l'home a la Lluna, però les seves repercussions
científiques són molt més importants. És també un exemple paradigmàtic de
col·laboració internacional, a escala mundial i amb lideratge europeu, unint els
esforços de tota la comunitat de físics de partícules cap a un gran objectiu comú.
Quatre dècades d'intens treball científic i desenvolupament d'avançades
tecnologies han permès confirmar l'existència d'un nou camp de forces, postulat
el 1964, que pot fer encaixar les últimes peces de l'anomenat "Model Estàndard"
de les interaccions fonamentals i, potser, obrir una finestra a nous fenòmens de
naturalesa insospitada.</div></div></a>
<p><div id="coords">20:00 h. L'Ermità Café Cultural, <a href="http://goo.gl/maps/tTIqG">C/ Obispo
don Jerónimo 4</a>, Valencia, 
18/04/2013</div>
****
<p>
<div align="right"><b>Bar de ciencias</b></div>
<i>Biología sintética</i>
<p>Charla-debate dirigida por Manel Porcar Miralles, Investigador del Institut Cavanilles
de Biodiversitat i Biologia Evolutiva de la Universitat de València.
<p><div id="coords">20:00 h. L'Ermità Café Cultural, <a href="http://goo.gl/maps/tTIqG">C/ Obispo
don Jerónimo 4</a>, Valencia, 
09/05/2013</div>
***
<p>
<div align="right"><b>Taller infantil</b></div>
<i>Las siete pruebas</i>
<p>En este taller propondremos siete preguntas/experimentos diferentes donde los participantes (individualmente o en grupo) 
pondrán a prueba sus habilidades científicas. El taller tiene como objetivo 
acercar a los participantes a algunos conocimientos básicos de la física vía la experimentación y las tentativas de resolución. 
<br>Duración aproximada de media hora.
<p><div id="coords">De 10:00 a 13:00 h. EXPOCIENCIA (Parc Científic, UV), Burjassot, 
25/05/2013</div>
*****
<p>
<div align="right"><b>Presentación Connecta</b></div>
<i>Didáctica de las ciencias, nuevas y no tan nuevas herramientas</i>
<p>Presentación del proyecto Connecta sobre la estrategia de aprendizaje phEC de las ciencias
experimentales y matemáticas y del desarrollo de <i>software</i> didáctico.
<br>Duración aproximada de una hora.
<p><div id="coords">TBA, Valencia, 
29/05/2013</div>
 
 
 *******************/
 
 /***********pase de imagenes con miniaturas*****************/
/***********************galeria imagenes***********************/
/*CSS*/
/*#galeria, #galeria * {box-sizing:border-box,-moz-box-sizing:border-box}
#galeria {
border: 1px solid #EAEAEA;  
padding: 10px;
padding-bottom: 0;
background: white;  
width: 982px;  
}
#galeria_miniaturas {
display: table;
margin: 0 auto;
}
#imgGaleria {
border: 1px solid #F2F2F2;  
padding: 3px;
width: 982px; 
height: 220px; 
}
.miniatura {
width:  60px;  
height:  60px;  
float: left;
cursor: pointer;
padding: 5px;
margin: 10px 5px;
}
.miniatura:hover {
opacity:.8;  
-moz-opacity:.8;
-khtml-opacity:.8;
filter:alpha(opacity=80);
}
.miniatura:active {
opacity:1;
-moz-opacity:1;
-khtml-opacity:1;
filter:alpha(opacity=80);
}
*/
/*html*/
/* 
<div id="galeria">
<div id="galeria_imagen">
<img id="imgGaleria" src="{{ MEDIA_URL }}welcome.jpg" /></div>
<div id="galeria_miniaturas">
<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='{{ MEDIA_URL }}bdc3.jpg'
;" src="{{ MEDIA_URL }}bdc3.jpg" />
<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='{{ MEDIA_URL }}welcome.jpg'
;" src="{{ MEDIA_URL }}welcome.jpg" />
<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='{{ MEDIA_URL }}bdc3.jpg'
;" src="{{ MEDIA_URL }}bdc3.jpg" />
<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='{{ MEDIA_URL }}welcome.jpg'
;" src="{{ MEDIA_URL }}welcome.jpg" />
<img class="miniatura" onclick="javascript:document.getElementById('imgGaleria').src='{{ MEDIA_URL }}bdc3.jpg'
;" src="{{ MEDIA_URL }}bdc3.jpg" />
</div>
</div>
 */
/****fin pase de imagenes con miniaturas********/
 
 
 
 