#cuadro2{
border-radius: 10%;
border:none;
background-color:#F0F0F0;
text-align:left;
font-family:courier;
font-size:11pt;
padding: 25px 25px 25px 25px;
}

#int{
list-style: none;
display:block;
margin:-11px;
}
#int li{float:left;width:200px;height:200px;}

a.showhim {font-weight: normal; text-decoration:none; color:black}
a.showhim:hover { color:black;}

.showme{ 
display: none;
}
.showhim:hover .showme{
display : block;
color:black;
text-align:center;
font-weight: bold;
}

.showmetext{ 
display: none;
}
.showhimtext:hover .showmetext{
display : block;
color:black;
font-weight: normal;
}

div.hr {
  height: 2px;
  background: #000000;
  color:#000000;
}
div.hr hr {
  display: none;
}

#contact{margin-left: auto;
	margin-right: 800px;
	width: 6em;}

#tit{
text-align:left;
float:left;
width:33%;
}

#poslogo {
float:left;
width:27%;
}

#poslema{
float:left;
width:38%;
padding-top:100px;
font-weight:normal;font-size:16pt;font-family:Annie Use Your Telescope; color:#8F2250;
}


.efectologo {
 width: 115px;
 height:115px;
 display:block;
 background-color: white;
 background-position: center top;
 background-repeat: no-repeat;
 background-image: url('logo1.gif');
 background-size: 90px;
}

.efectologo:hover {
   background-color: white;
   background-image: url('arbol1.gif');
   background-size: 90px;
}

.aula {
 width: 982px;
 height:220px;
 display:block;
 background-color: white;
 background-position: center top;
 background-repeat: no-repeat;
 background-image: url('welcome.jpg');
 background-size: 982px;
 color:transparent;
}

.aula:hover {
   background-color: white;
   background-image: url('bdc3.jpg');
   background-size: 982px;
   color:white;
}
/* 
.aula {-moz-transition: all 1s ease-in-out;
  -webkit-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;}
 */




html{background-color:#F0F0F0;
}
body{
		/*background: #F0F0F0;*/
	  background:white;
      /*font: 14px Trebuchet MS, Trebuchet, Helvetica, Arial;*/
      font-family: Istok Web;
      font-size:14px;
	  line-height: 130%;
	  margin-top: 0px;
      margin-right: auto;
      margin-bottom: 0px;
      margin-left: auto; /*márgenes del body respecto al html completo*/
      padding: 10px 20px 50px 20px;/*márgenes del texto dentro del body top right bottom left*/
      border-left:solid 1px;
      border-right:solid 1px;
      border-color:black;  
      border-bottom:none; 
      text-align:center;
    
    width: 1024px;
   

      }




h1 {
	color:#8F2250;font-size:48pt;font-family:Lobster Two;
}

h2 {
font-weight:normal;font-size:18pt;font-family:Poiret One;
	/*font-weight:normal;font-size:24pt;font-family:Annie Use Your Telescope;*/
}

#rotando{color:#8F2250;}


#sometitles{
font-weight:bold;font-size:16pt;font-family:Poiret One; color:#8F2250;
/*font-weight:normal;font-size:16pt;font-family:Annie Use Your Telescope; color:#8F2250;*/
}

#gracias {font-family:Annie Use Your Telescope;font-size:14pt;color:#8F2250;
}



ul {
        list-style: square;
}


#cuadro{
border-radius: 0%;
border:solid 1px;
border-color:#DCDCDC;
background-color:none;
/*#F0F0F0;*/
/*width:450px;*/
text-align:justify;
padding: 20px 20px 20px 20px;
}
#cuadroup{
border-radius: 0%;
border:solid 1px;
border-color:#DCDCDC;
background-color:#DCDCDC;
text-align:justify;
padding: 5px 20px 5px 20px;
}


a{
color: gray; 
font-weight: bold; text-decoration: none;
}
a:hover { color:#8F2250;}




/*para dos columnas*/
#div-1a {
text-align:justify;
float:left;
width:49%;
}
#div-1b {
text-align:justify;
 float:right;
 width:49%;
}
#div-1c {
 clear:both;
}

/*para dos columnas más desiguales*/
#diva {
text-align:justify;
 float:left;
 width:68%;
}
#divaa {
text-align:justify;
 float:left;
 width:58%;
}
#divb {
text-align:justify;
 float:right;
 width:30%;
}
#divbb {
text-align:justify;
 float:right;
 width:35%;
}
#divc {
 clear:both;
}

#pos_form{
padding: 5px 5px 5px 5px;
}

#coords{
font-family:courier;font-size:11px;
color:#8F2250;
}

#coords a{font-family:courier;font-size:11px;
color:#8F2250;font-weight:bold;}

#coords a:hover{font-family:courier;font-size:11px;
color:black;font-weight:bold;}

/*nuevo submenu**********************/

  .mi-menu  {
    border-radius: 5px;
    list-style-type: none;
    margin: 0; /* si queremos centrarlo */
    margin-top:100px;
    margin-left:-20px;
    padding: 0;
    /* la altura y su ancho dependerán de los textos */
    height: 40px; 
    width: 104%;
    /* el color de fondo */
    background: #696969;
  }

  /* si es necesario, evitamos que Blogger de problemas con los saltos de línea cuando escribimos el HTML */
  .mi-menu  br { display:none; }

  /* cada item del menu */
  .mi-menu  li {
    display: block;
    float: left; /* la lista se ve horizontal */
    height: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
    position:relative;
    
  }
  .mi-menu li a {
    border-left: 1px solid #000;
    border-right: 1px solid #666;
    color: #EEE;
    display: block;
    font-size: 13px;
    font-weight: bold;
    line-height: 28px;
    padding: 0 20px;
    margin: 6px 0;
    text-decoration: none;
  }
  /* eliminamos los bordes del primer y el último */
  .mi-menu li:first-child a { border-left: none; }
  .mi-menu li:last-child a{ border-right: none; }
  /* efecto hover cambia el color */
  .mi-menu li:hover > a { color: black; }

  /* los submenús */
  .mi-menu ul {
    border-radius: 0 0 5px 5px;
    left: 0;
    margin: 0;
    opacity: 0; /* no son visibles */
    position: absolute;
    top: 40px; /* se ubican debajo del enlace principal */
    /* el color de fondo */
    background: #A9A9A9;
    /* animamos su visibildiad */
    -moz-transition: opacity .25s ease .1s;
    -webkit-transition: opacity .25s ease .1s;
    -o-transition: opacity .25s ease .1s;
    -ms-transition: opacity .25s ease .1s;
    transition: opacity .25s ease .1s;
  }
  /* son visibes al poner el cursor encima */
  .mi-menu li:hover > ul { opacity: 1; }

   /* cada uno de los items de los submenús */
  .mi-menu ul li {
    height: 0; /* no son visibles */
    overflow: hidden;
    padding: 0;
    /* animamos su visibildiad */
    -moz-transition: height .25s ease .1s;
    -webkit-transition: height .25s ease .1s;
    -o-transition: height .25s ease .1s;
    -ms-transition: height .25s ease .1s;
    transition: height .25s ease .1s;
  }
  .mi-menu li:hover > ul li {
    height: 36px; /* los mostramos */
    overflow: visible;
    padding: 0;
  }
  .mi-menu ul li a {
    border: none;
    border-bottom: 1px solid #111;
    margin: 0;
    /* el ancho dependerá de los textos a utilizar */
    padding: 5px 20px;
    width: 100px;
  }
  /* el último no tiene un borde */
  .mi-menu ul li:last-child a { border: none; }
  
  
/************************************************pase de imágenes inicio****/

#slider {
text-align: center;
margin: 0 auto;
-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}
#slider label, a {
color: #444444;
cursor: pointer;
text-decoration: none;
}
#slider label:hover, #slider a:hover {
color: #000 !important;
}
#slider label, #slider #active, #slider img { -moz-user-select:none;-webkit-user-select:none; }

#slider input {
display: none;
}
#slide1:checked ~ #slides .inner { margin-left:0; }
#slide2:checked ~ #slides .inner { margin-left:-100%; }
#slide3:checked ~ #slides .inner { margin-left:-200%; }
#slide4:checked ~ #slides .inner { margin-left:-300%; }
#slide5:checked ~ #slides .inner { margin-left:-400%; }
#overflow {
width: 100%;
overflow: hidden;
}
#slider article img {
width: 100%;
max-width:100% !important;
}
#slides .inner {
width: 500%;
line-height: 0;
}
#slides article {
width: 20%;
float: left;
}
/* Slider Styling */
/* Control Setup */
#controls {
margin: -25% 0 0 0;
width: 100%;
height: 50px;
}
#controls label { 
display: none;
width: 50px;
height: 50px;
opacity: 0.5;
}
#active {
margin: 23% 0 0;
text-align: center;
}
#active label {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
display: inline-block;
width: 10px;
height: 10px;
background: #bbb;
}
#active label:hover {
background: #ccc;
border-color: #777 !important;
}
#controls label:hover {
opacity: 0.8;
}
#slide1:checked ~ #controls label:nth-child(2), 
#slide2:checked ~ #controls label:nth-child(3), 
#slide3:checked ~ #controls label:nth-child(4), 
#slide4:checked ~ #controls label:nth-child(5), 
#slide5:checked ~ #controls label:nth-child(1) {
/*background: url('http://3.bp.blogspot.com/-gbAtkwN8qi0/UHXYpwhcs2I/AAAAAAAAFlU/7jrNY-Ojfrk/s1600/nextrt.png') no-repeat;
float: right;
margin: 0 -70px 0 0;
display: block;*/
}
#slide1:checked ~ #controls label:nth-child(5),
#slide2:checked ~ #controls label:nth-child(1),
#slide3:checked ~ #controls label:nth-child(2),
#slide4:checked ~ #controls label:nth-child(3),
#slide5:checked ~ #controls label:nth-child(4) {
/*background: url('http://4.bp.blogspot.com/-JVLPDGSMx30/UHXYqZArlfI/AAAAAAAAFlg/WxACTnXfAE0/s1600/prevrt.png') no-repeat;
float: left;
margin: 0 0 0 -70px;
display: block;*/
}
#slide1:checked ~ #active label:nth-child(1),
#slide2:checked ~ #active label:nth-child(2),
#slide3:checked ~ #active label:nth-child(3),
#slide4:checked ~ #active label:nth-child(4),
#slide5:checked ~ #active label:nth-child(5) {
background: #333;
border-color: #333 !important;
}
/* Info Box */
#slider .info {
line-height: 20px;
margin: 0 0 -150%;
position: absolute;
font-style: norma;
font-family: Courier;
padding: 30px 30px;
opacity: 0;
color: white;
text-align: left;
}
#slider .info h3 {
color: #333;
margin: 0 0 5px;
font-weight: normal;
font-size: 22px;
font-style: normal;
}
/* Slider Styling */
#slides {
/*margin: 45px 0 0;*/
/* 
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
box-shadow: 1px 1px 4px #666;
 */
border-radius: 0%;
border:solid 1px;
border-color:#DCDCDC;
background-color:none;
padding: 20px 20px 20px 20px; 
/* 
padding: 1%;
background: #fff;
background: rgb(252,255,244); 
background: -moz-linear-gradient(top, rgba(252,255,244,1) 0%, rgba(219,218,201,1) 100%); 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,255,244,1)), color-stop(100%,rgba(219,218,201,1))); 
background: -webkit-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); 
background: -o-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); 
background: -ms-linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); 
background: linear-gradient(top, rgba(252,255,244,1) 0%,rgba(219,218,201,1) 100%); 
 */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#dbdac9',GradientType=0 ); /* IE6-9 */
}
/* Animation */
#slides .inner {
-webkit-transform: translateZ(0);
-webkit-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
-moz-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
-ms-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
-o-transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); 
transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */

-webkit-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
-moz-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
-ms-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
-o-transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000); /* easeInOutQuart */
}
#slider {
-webkit-transform: translateZ(0);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
}
#controls label{
-webkit-transform: translateZ(0);
-webkit-transition: opacity 0.2s ease-out;
-moz-transition: opacity 0.2s ease-out;
-o-transition: opacity 0.2s ease-out;
transition: opacity 0.2s ease-out;
}
#slider #controls {
margin: -25% 0 0 15%;
width: 70%;
height: 50px;
}
#slider #controls label {
-moz-transform: scale(0.8);
-webkit-transform: scale(0.8);
-o-transform: scale(0.8);
-ms-transform: scale(0.8);
transform: scale(0.8);
}
#slide1:checked ~ #slides article:nth-child(1) .info,
#slide2:checked ~ #slides article:nth-child(2) .info,
#slide3:checked ~ #slides article:nth-child(3) .info,
#slide4:checked ~ #slides article:nth-child(4) .info,
#slide5:checked ~ #slides article:nth-child(5) .info {
opacity: 1;
-webkit-transition: all 1s ease-out 0.6s;
-moz-transition: all 1s ease-out 0.6s;
-o-transition: all 1s ease-out 0.6s;
transition: all 1s ease-out 0.6s;
}
#slider .info, #controls, #slides, #active, #active label, .info h3, .desktop, .tablet, .mobile {
-webkit-transform: translateZ(0);
-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;
-o-transition: all 0.5s ease-out;
transition: all 0.5s ease-out;
}
/* Responsive Styling */
@media only screen and (max-width: 850px) and (min-width: 450px) {
#slider #slides {
padding: 1% 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
#slider #active {
margin: 22% 0 0;
}
}
@media only screen and (max-width: 450px) {
#slider #controls {
margin: -28% 0 0 24%;
width: 50%;
height: 50px;
}
#slider #active {
margin: 23% 0 0;
}
#slider #slides {
padding: 1% 0;
-webkit-border-radius: 0px;
-moz-border-radius: 0px;
border-radius: 0px;
}
#slider #slides .info {
opacity: 0 !important;
}
#slider #controls label {
-moz-transform: scale(0.6);
-webkit-transform: scale(0.6);
-o-transform: scale(0.6);
-ms-transform: scale(0.6);
transform: scale(0.6);
}
}