body {
 /*background-color: #F0F0F0;*/
 background-color: white;
 font-family: Istok Web;
 line-height: 120%;
  /*width: 1024px;*/
text-align:left;  
} 

.verticalLine {
    border-left:thick solid black;
}

#rec{border:solid;}

h1 {
	color:#8F2250;font-size:48pt;font-family:Lobster Two;
}
h2 {
	font-weight:normal;font-size:18pt;font-family:Poiret One;
} 
ul {
        list-style: none;
}

#gracias {font-family:Annie Use Your Telescope;font-size:16pt;color:#8F2250;}
#entrar {font-family:Annie Use Your Telescope;font-size:16pt;color:#8F2250;
/*position:absolute;
right:20px;
bottom:20px;*/
text-align:right;}
#entrar a {text-decoration: none; color:#8F2250; }
#entrar a:hover { color: #C0C0C0;}

a{
color: #8F2250; 
font-weight: bold; text-decoration: none;
}
a:hover { color:gray;}


#div-1a {
margin-top:100px;
text-align:right;
float:left;
width:42%;
}
#div-1b {
margin-top:100px;
text-align:left;
border-left:solid 1px #8F2250;
 float:right;
 width:35%;
 padding-left:10px;
}
#div-1c {
 clear:both;
}


