/*barra de navegación*/
#navbar { height: 40px !important; padding: 0px 15px 5px !important; background: #C0C0C0 !important; 
 border:solid 2px; border-color: #000000;
position:absolute;
top:95px;
right:50px;}
#navbarlist { display: inline; float: right !important; list-style: none; margin: 0 !important; 
padding: 0 !important;}
#navbarlist li { float: left !important; font-size: 14px !important;line-height: 45px !important; 
padding-right: 15px !important; padding-left: 15px !important; list-style: none;}
#navbarlist li a { color: #000000; font-weight: bold !important; text-decoration: none !important; }
#navbarlist li a:hover { color: white !important;}




div.hr {
  height: 2px;
  background: #000000;
  color:#000000;
}
div.hr hr {
  display: none;
}

#contact{margin-left: auto;
	margin-right: 800px;
	width: 6em;}

#poslogo {position:absolute;
top:20px;
right:710px;}

.efectologo {
 width: 115px;
 height:115px;
 display:block;
 background-color: white;
 background-position: center top;
 background-repeat: no-repeat;
 background-image: url('logo1.png');
 background-size: 90px;
}

.efectologo:hover {
   background-color: white;
   background-image: url('arbol1.png');
}

#sometitles{font-weight:normal;font-size:24pt;font-family:Annie Use Your Telescope;}

body{
		/*background: #F0F0F0;*/
		background:white;
		font: 14px Trebuchet MS, Trebuchet, Helvetica, Arial;
		line-height: 120%;
		margin-top: 0px;
      margin-right: 50px;
      margin-bottom: 50px;
      margin-left: 50px;
      border:solid 2px;
      border-color:#F0F0F0;
}
h1 {
	color:#8F2250;font-size:48pt;font-family:Lobster Two;
}
h2 {
	font-weight:normal;font-size:24pt;font-family:Annie Use Your Telescope;
}

#gracias {font-family:Annie Use Your Telescope;font-size:14pt;color:#8F2250;}

ul {
        list-style: square;
}


#cuadro{
border:none;
width:400px;}

