#navbar { height: 40px !important; padding: 0px 15px 5px !important; background: #C0C0C0 !important; 
border-bottom: 2px #8F2250 solid !important;}
#navbarlist { display: inline; float: right !important; list-style: none; margin: 0 !important; 
padding: 0 !important;}
#navbarlist li { float: left !important; font-size: 14px !important;line-height: 45px !important; 
padding-right: 15px !important; padding-left: 15px !important; list-style: none;}
#navbarlist li a { color: #000000; font-weight: bold !important; text-decoration: none !important; }
#navbarlist li a:hover { color: white !important;}

/*#logotit li.first { padding: 10px 10px 10px 750px; }*/

#poslogo {position:fixed;
top:30px;
right:5px;}

#contact{margin-left: auto;
	margin-right: 800px;
	width: 6em;}

.efectologo {
 width: 110px;
 height:110px;
 display:block;
 /*background:transparent url('logo.jpg') center top no-repeat;*/
 background-position: center top;
 background-repeat: no-repeat;
 background-image: url('logo.jpg');
 background-size: 90px;
}

.efectologo:hover {
   background-image: url('arbol.jpg');
}


body{
		background: #F0F0F0;
		font: 16px Verdana, sans-serif;
		line-height: 120%;
}
h1 {
	color:#8F2250;font-size:48pt;font-family:Lobster Two;
}
h2 {
	font-weight:normal;font-size:24pt;font-family:Annie Use Your Telescope;
}

#gracias {font-family:Annie Use Your Telescope;font-size:14pt;color:#8F2250;}

ul {
        list-style: square;
}