{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}

<div id="divaa">
<div id="cuadroup">
<b>Sigue nuestros posts en Facebook y nuestros comentarios en Twitter!</b>
</div>
<br>
<div style="text-align:center;">
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="http://www.facebook.com/CienciaACasa" data-width="530" data-show-faces="false" 
data-stream="true" data-header="true"></div>

<br><br>

<a class="twitter-timeline" href="https://twitter.com/connectacpc" data-widget-id="317316659083886593" height="400">
Tweets por @connectacpc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

</div>
</div>

<div id="divbb">
<div id="cuadroup">
<b>Encén la bombeta</b>
</div>
<div id="cuadro">
<img src="{{ MEDIA_URL }}bombilla.jpg" width="100%" height="100%" align="center">
Te la saps? Emplena el formulari de <a href="/contacto/">Contacte</a>; publiquem la primera resposta encertada.
</div>

<!-- ultimos eventos -->
<br>
<div id="cuadroup">
<b>Events anteriors</b>
</div>

<div id="cuadro">
{% if ultimos_eventos %}
	{% for evento in ultimos_eventos %}
<div align="right"><b>{{evento.tipo}}</b></div>
<br>
<i>{{ evento.titulo }}</i>
<p>{{ evento.contenido_generico|safe|linebreaksbr }}
	{% if evento.contenido_especifico %}
<div class="showhimtext">
<div style="color:gray;"><b>Leer más</b></div>
<div class="showmetext" id="cuadro">
{{ evento.contenido_especifico|safe|linebreaksbr }}
</div></div>
	{% endif %}
<p><div id="coords">{{evento.fecha_ini|date:'H:i'}}-{{evento.fecha_final|date:'H:i'}}. 
{{evento.lugar}},
{% if evento.enlace_direccion %}
 <a href="{{evento.enlace_direccion}}"> {{evento.direccion}}</a>,
{% endif %}
 {{evento.ciudad}}, 
{{evento.fecha_ini|date:'d-m-Y'}}.</div>
<br>
	{% endfor %}
{% else %}
<p>No hay próximos eventos.
{% endif %}

</div>
<!-- fin ultimos eventos -->

<!-- ultimas preguntas -->
{% load preg_tags %}
 <div id="leftnav">
        {% block left_nav %}
            {% ultimas_preguntas %}
        {% endblock %}
</div>
<!-- fin ultimas preguntas -->
</div>



<div id="divc">
</div>

{% endblock %}