{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}

<div id="diva">

<script type="text/javascript" src="http://output34.rssinclude.com/output?type=js&amp;
id=682043&amp;hash=d7081396ff680e5b549b49d624a87dc4"></script>




</div>

<div id="divb">
<div id="cuadroup">
<b>Encén la bombeta</b>
</div>
<div id="cuadro">
Nom d'usuari:
<br>
<img src="{{ MEDIA_URL }}bombilla.jpg" width="100%" height="100%" align="center">
Resposta:
</div>
</div>


<div id="divc">
</div>

{% endblock %}