{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}

<div id="cuadro">
<div align="center"><img src="{{ MEDIA_URL }}welc-about.jpg" width="100%" align="center"> </img></div>
</div>
<br>

<div id="div-1a">
<div id="cuadro" style="font-size:10pt;">
Connecta es un centro que pretende impulsar la promoción científica en tres dimensiones 
diferentes: <a href="/divulgacion/" title="Divulgación">divulgación</a>, 
<a href="/didactica/" title="Didáctica">didáctica</a> y 
<a href="/desarrollo/" title="Desarrollo">desarrollo</a>, y que presta sus servicios a través de su plataforma virtual 
(esta web) y en sus <a href="/contacto/">centros amigos</a>.
<p>
El equipo de Connecta está formado actualmente por dos personas: Guillermo García, ingeniero informático, encargado de
la arquitectura web y el desarrollo de <i>software</i> didáctico; y Paula Tuzón, doctora en física, encargada de los 
contenidos didácticos y de divulgación, así como del desarrollo web. 
Para los servicios de divulgación Connecta cuenta además con la colaboración desinteresada 
de personas del ámbito científico y con el trabajo
del diseñador e ilustrador <a href="http://www.josemiguelmayo.com">José Miguel Mayo</a> para algunos 
de sus servicios de divulgación y transferencia.
<p>
<b>Promocionamos la ciencia, enseñando a construirla</b>
<p>
El proyecto Connecta se inspira en la necesidad social de una alfabetización científica, 
ofreciendo servicios que abarcan desde edades tempranas a adultas.
<br>Nuestro <u>principal objetivo</u> se centra en las etapas formativas, tanto desde el punto de
vista del alumno como desde el del profesor. 
Connecta quiere ser un centro de referencia <i>extraacadémico</i> en enseñar a construir 
los conceptos científicos con una estrategia muy concreta que
garantice el <i>aprendizaje significativo</i>, y que llamamos 
<a href="/didactica/" title="Didáctica">phEC</a>. 
<br>Todos nuestros servicios se regirán por el concepto de
<i>construcción científica</i>, donde el cliente es la pieza clave
de cualquiera de nuestras actividades.
La idea principal <i>no</i> es "acercar la ciencia a la gente",
como si fueran dos realidades separadas difícilmente reconciliables, sino
trabajar como un equipo científico a través de las distintas actividades que ofrecemos.

</div>
</div>

<div id="div-1b">
<h2>Te lo explicamos en tres minutos...</h2>
<br>
<div align="left">
	<iframe width="448" height="252" 
		src="http://www.youtube.com/embed/YRpYQ3KDtwY?rel=0"
		frameborder="0" allowfullscreen> </iframe>
</div>
<div align="center"><img src="{{ MEDIA_URL }}cableup.gif" width="100%"  align="center"> </img></div>
</div>

<!-- Otra forma de embeber un video: parámetro object. dices el tipo y busca un reproductor adecuado.
<div align="center">
<object width="560" height="315" type="application/x-shockwave-flash"
	data="http://www.youtube.com/v/YRpYQ3KDtwY">
	<param name="movie" value="http://www.youtube.com/v/YRpYQ3KDtwY" />
	<param name="wmode" value="transparent" />
</object>
</div>
-->

<div id="div-1c">
</div>

{% endblock %}