<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link href=' http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href=' http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<style type="text/css">
		body{
		font: 16px Arial, sans-serif;
		line-height: 120%;
		}
		H1 {color:#8F2250;font-size:48pt;font-family:Lobster Two;}
		H2 {font-weight:normal;font-size:24pt;font-family:Annie Use Your Telescope;}
	</style>
    <title>{% block title %}{% endblock %}</title>
</head>
<body bgcolor="#F0F0F0">
	<h1>Connecta</h1>
	<h2>Centro de Promoción Científica</h2>
    <!-- <img src="{{ MEDIA_URL }}logo.pdf" align="right" style="width: 20%; height: 20%"/> -->
    {% block content %}{% endblock %}
    {% block footer %}
    <!-- <hr> -->
    <p>Gracias por <FONT FACE="Annie Use Your Telescope">connectarte</FONT></p>
    {% endblock %}
</body>
</html>