<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}deco.css" />
	<link href=' http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href=' http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
	
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
	<div id="tit"><h1>Connecta</h1><h2>Centro de Promoción Científica</h2></div>
	<div id="poslogo"><a href="/inicio/" class="efectologo" title="Inicio"></a></div>
    <div id="poslema"> Promocionamos la ciencia >> enseñando a construirla </div>
<br><br>

<ul class="mi-menu">
  <li><a href="/inicio/"> Inicio </a></li>
  <li><a href="/about/"> Sobre Connecta </a></li>
  <li>
    <a href="/divulgacion/"> Divulgación </a>
    <ul>
      <li><a href="/divulgacion/blog/"> Blog </a></li>
    </ul>
  </li>
  <li><a href="/didactica/"> Didáctica </a></li>
  <li><a href="/desarrollo/"> Desarrollo </a></li>
  <li><a href="/contacto/"> Contacto </a></li>
</ul>

<br>

    {% block content %}{% endblock %}
    {% block footer %}
    <br>
    <div id="gracias" align="right">>> Gracias por connectarte </div>
    {% endblock %}
</body>
</html>

