<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}deco_problems.css" />
	<link href=' http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href=' http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
	
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
	<!-- 
<div id="tit">
	<div style="float:left;width:40%;"><h1>No Problem!</h1>
	<h2>Fisiquiminformatematízate</h2></div>
	<div style="float:left;width:60%;"><img src="{{ MEDIA_URL }}nop-dibujo.tiff" width="100%"  align="center"> </img></div>
	</div>	
 -->
	<div class="nopdib">
	<br><br>
	<div style="float:left;width:40%;"><h1>&nbspNoProblem<span style="color:white;">!</span></h1>
	</div>
	</div>
	
	<br><br><br><br><br>


    {% block contentbase %}{% endblock %}
    {% block footer %}

    {% endblock %}
    <div id="cuadrofinal">
    <br>
    <div style="display:block;float:left;width:100%;padding-left:5%">
    <div style="float:left;width:30%;">
    <a href="/problems/bienvenida/"><img src="{{ MEDIA_URL }}nop-logo.gif" width="30%"  align="center"> </img></a></div>
    
    <div style="float:left;width:30%;text-align:center;">Centro de Promoción Científica Connecta
    <br>www.connectacpc.es @connectacpc
    </div>
    
    <div style="float:right;width:15%;">
    <a href="/inicio/"><img src="{{ MEDIA_URL }}logo1.gif" width="30%"  align="center"> </img></a>
    </div>
    
    </div>
    </div>
  
</body>
</html>

