<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}deco.css" />
	<link href=' http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href=' http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
	<h1>Connecta</h1><h2>Centro de Promoción Científica</h2>
	<div id="poslogo"><a href="/inicio/" class="efectologo" title="Inicio"></a></div>
		
	<div id="navbar">
            <ul id="navbarlist">
                <li id="anb-home"><a href="/inicio/" title="Inicio">Inicio</a></li>
                <li id="anb-home"><a href="/about/" title="about">¿Qué es Connecta?</a></li>
                <li id="anb-home"><a href="/divulgacion/" title="divulgacion">Divulgación</a></li>
                <li id="anb-home"><a href="/didactica/" title="didactica">Didáctica</a></li>
                <li id="anb-home"><a href="/desarrollo/" title="desarrollo">Desarrollo</a></li>
                <li id="anb-home"><a href="/contacto/" title="contacto">Contacto</a></li>
            </ul>
    </div>
    <div class="hr"><hr></div>
    
    <br>
   
    {% block content %}{% endblock %}
    {% block footer %}
    <div id="gracias" align="left"> Gracias por connectarte </div>
    <div class="addthis_toolbox addthis_default_style">
     <a class="addthis_button_tweet"></a> 
</div> 
    {% endblock %}
</body>
</html>

