<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
	<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}deco_problems.css" />
	<link href=' http://fonts.googleapis.com/css?family=Annie+Use+Your+Telescope' rel='stylesheet' type='text/css'>
	<link href=' http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Give+You+Glory' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Finger+Paint' rel='stylesheet' type='text/css'>
	
    <title>{% block title %}{% endblock %}</title>
    
</head>
<body>
<div id="container">

<div id="header">
	<!-- <div style="float:left;width:40%;"><h1>&nbspNoProblem<span style="color:white;">!</span></h1></div> -->
	<h1>&nbspNoProblem<span style="color:white;">!</span></h1>
</div>

<div id="bbody">   
	{% block contentbase %}   
    {% endblock %}
    {% block footer %}
    {% endblock %}
</div>

<br>

<div id="cuadrofinal"> 
<br>
    <div style="float:left;width:33%;">
    <a href="/problems/bienvenida/"><img src="{{ MEDIA_URL }}nop-logo.gif" width="30%"  align="center"> </img></a></div>
    
    <div style="float:left;width:33%;text-align:center;">Centro de Promoción Científica Connecta
    <br>www.connectacpc.es @connectacpc
    </div>
    
    <div style="float:right;width:33%;">
    <a href="/inicio/"><img src="{{ MEDIA_URL }}logo1.gif" width="15%"  align="center"> </img></a>
    </div> 
</div>

</div> 
</body>
</html>

