{% extends "base0_problems.html" %}



{% block contentbase %}

{% if user.is_authenticated %}
<ul class="mi-menu">
  <li><a href="{% url problems:bienvenida %}"> Inicio</a></li>
{% if cat %}
  <li><a href="{% url problems:tree cat.id %}"> Categoría: {{ cat.name }} </a></li>
{% else %}
    <li><a href="{% url problems:bienvenida %}"> Categorías </a>
  	<ul>
  	{% for ca in categorias %}
      <li><a href="{% url problems:tree ca.id %}"> {{ ca.name }} </a></li>
    {% endfor %}
    </ul></li>
{% endif %}
  <li><a href=""> Puntos: {{ user.get_profile.credits }} </a></li>
{% if cat %}
  <li><a href="{% url problems:tree cat.id %}"> Árbol </a></li>
{% endif %}
  <li><a href="{% url accounts:auth_logout_user %}?next=/problems/bienvenida">Log Out</a></li>
  <li><a href="{% url problems:user_detail %}"> Usuario {{ user.get_profile.user.username }} @{% now "jS F Y H:i:s" %} </a></li>
</ul>

{% else %}

{% endif %}


{% block content %}
{% endblock %}
{% endblock %}
