{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}


<div id="div-1a">
<h2>Mándanos un e-mail o llámanos</h2>
Connecta es un centro multiplataforma que opera vía web y que abrirá un centro en la ciudad 
de la Valencia próximamente. Mientras tanto, podrás encontrarnos 
en algunos de nuestros centros amigos.
<p>
Si te interesa alguno de los servicios que ofrecemos, si quieres información
o tienes alguna duda, puedes ponerte en contacto con nosotros:
<ul>
<li>Por teléfono: 617980097</li>
<li>Por (vídeo)conferencia <span style="color:#8F2250;">Skype</span>: connecta.cpc</li>
<li>Por e-mail a través del siguiente formulario:</li>
</ul>
<form id="pos_form">
<div id="cuadro">
<!-- 
	<fieldset>
		<legend><em>Información</em></legend>
 -->
		<label for="name">Nombre: </label>
		<input type="text" id="name" value="" size="30" maxlength="40" /> <br/>
		<label for="email">E-mail: </label>
		<input type="text" id="email" value="correo@electronico.com" size="40" maxlength="40" /><br/>
<!-- 
	</fieldset>
 -->
	<br/>
<!-- 
	<fieldset>
		<legend><em>Mensaje</em></legend>
 -->
		¿Por cuál de los servicios quieres contactar con nosotros?<br />
		<input type="checkbox" name="chkHab” value="xhtml" />Divulgación <br />
		<input type="checkbox" name="chkHab" value="CSS" />Didáctica<br />
		<input type="checkbox" name="chkHab" value="JavaScript" />Desarrollo<br />
		<input type="checkbox" name="chkHab" value="aspnet" />Pregunta semanal<br />
		<input type="checkbox" name="chkHab" value="aspnet" />Otros<br />
		<label for="content">Contenido del Mensaje: </label><br/>
		<textarea id="content" cols="50" rows="6">
		</textarea>
<!-- 
	</fieldset>
 -->
<!--
	<form action=”http://www.example.com/imageUpload.jsp” method=”post”
			name=”fromImageUpload” enctype=”multipart/form-data”>
		<input type=”file” name=”fileUpload” accept=”image/*” />
		<br /><br /><input type=”submit” value=”Submit” />
	</form>
	-->
	<br /><br /><input type="submit" value="Enviar" />
</div>
</form>
</div>

<div id="div-1b">
<h2> Nuestros centros amigos</h2>
<div style="padding-left:100px;"><img src="{{ MEDIA_URL }}equipo.jpg" width="90%" height="90%" align="center"> </img></div>
<br>
Nuestros centros amigos son los centros o espacios donde realizaremos algunas de nuestras actividades. Puedes encontrar
las próximas en la página de <a href="/inicio/">Inicio</a>.
</div>

<div id="div-1c">
</div>

{% endblock %}