{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}
<div id="cuadro">
<div align="center"><img src="{{ MEDIA_URL }}buzones.jpg" width="100%"  align="center"> </img></div>
</div>

<div id="div-1a">
<h2>Mándanos un e-mail o llámanos</h2>
Connecta es un centro multiplataforma que opera vía web. Además, podrás encontrarnos 
en algunos de nuestros centros amigos.
<p>
Si te interesa alguno de los servicios que ofrecemos, si quieres información
o tienes alguna duda, puedes ponerte en contacto con nosotros:
<ul>
<li>Por teléfono: 617980097</li>
<li>Por (vídeo)conferencia <span style="color:#8F2250;">Skype</span>: connectacpc</li>
<li>Por e-mail a través del siguiente formulario:</li>
</ul>
	{% if messages %} 
		{% for message in messages %}
			{% if 'success' in message.tags %}
				<p style="color: green;">
				{{ message }}
			{% else %}
				<p style="color: red;">
				{{ message }}
			{% endif %}
			</p>
		{% endfor %} 
	{% endif %} 
	
{% if form.errors %}
<br> 
<p style="color: red;"> 
Hay error{{ form.errors|pluralize:",es" }} en el formulario. Corrígelo{{ form.errors|pluralize:",s" }}.
</p> 
{% endif %} 

<form id="pos_form" action="" method="post"> 

<div id="cuadro">
{% csrf_token %} 
    {{ form.non_field_errors }}
    <div class="fieldWrapper">
        {{ form.nombre.label }}:
        {% for error in form.nombre.errors %}
        	**{{ error|escape }}
        {% endfor %}<br />
        {{ form.nombre }}<br />
    </div>
    <div class="fieldWrapper">
        
        {{ form.email.label }}:
        {% for error in form.email.errors %}
        	**{{ error|escape }}
        {% endfor %}<br />
        {{ form.email }}
        
    </div>
    <div class="fieldWrapper">
        {{ form.motivo.label }}:
        {% for error in form.motivo.errors %}
        	**{{ error|escape }}
        {% endfor %}<br />
        {{ form.motivo|escape }}<br />
    </div>
    <div class="fieldWrapper">
        
        {{ form.message.label }}:
        {% for error in form.message.errors %}
        	**{{ error|escape }}
        {% endfor %}<br />
        {{ form.message }}
    </div>
    <p><input type="submit" value="Enviar" /></p>

</div>
</form> 
</div>

<div id="div-1b">
<h2> Nuestros centros amigos</h2>
<div style="padding-left:100px;"><img src="{{ MEDIA_URL }}equipo.jpg" width="90%"  align="center"> </img></div>
<br>
Nuestros centros amigos son los centros o espacios donde realizamos algunas de nuestras actividades. Puedes encontrar
las próximas en la página de <a href="/inicio/">Inicio</a>.
</div>

<div id="div-1c">
</div>

{% endblock %}