{% extends "base.html" %}

{% block title %}Connecta - Desarrollo{% endblock %}

{% block content %} 

<div id="cuadro">
<div align="center"><img src="{{ MEDIA_URL }}welc-des.jpg" width="100%"  align="center"> </img></div>
</div>
<br>

<div id="div-1a">
<div id="cuadroup">
<b>Nuestros servicios</b>
</div>
<div id="cuadro">
<div id="sometitles"> Para jóvenes/adultos </div>
<p>
Proyectos dirigidos:
<ul>
<li>Programación</li>
<br>
<li>Trabajo en equipo y comunicación</li>
<br>
<li>Colaboraciones externas</li>
<br>
<li>Posible comercialización</li>
</ul>
Actualmente Connecta todavía no tiene sus propias instalaciones, donde se
dispondrá de todo el material necesario para la ejecución de estos proyectos, 
por lo que se reserva la iniciación del servicio de desarrollo 
hasta Septiembre de 2013. Abriremos la fecha de inscripción en los proyectos al 
final de este curso académico.
</div>
<div align="center"><img src="{{ MEDIA_URL }}casa.gif" width="100%"  align="center"> </img></div>
</div>

<div id="div-1b">
<div id="cuadroup">
<b>Nuestro objetivo</b>
</div>
<div id="cuadro">
En Connecta tenemos como principal objetivo el aprendizaje de la construcción
científica y tecnológica. En los servicios de didáctica y divulgación
nos centramos en la construcción de conceptos ya construídos, mientras
que en la parte de desarrollo queremos fomentar la construcción de 
unos nuevos. Desde Connecta creemos que es crucial que las personas, en sus etapas formativas, 
aprendan a utilizar la información que tienen, trabajar en equipo y buscar recursos no
sólo para construir los conceptos básicos (adquirir alfabetización científica) 
sino para innovar, para ir un poco más allá. 
<p> Con esta intención, desde Connecta diseñaremos y dirigiremos proyectos realizables a corto
plazo por estudiantes de entre 15 y 25 años. Unos se centrarán en la creación de aplicaciones
web y móvil sencillas. Otros estarán relacionados con
la sostenibilidad y otros temas relevantes en nuestro contexto social.
<p>¿Qué ganan los estudiantes que se involucren en uno de estos proyectos? Su posible comercialización
en caso de que se considere oportuno; y el propio aprendizaje de construcción científico-técnica, 
la convivencia con el error, las habilidades y estrategias para crear una solución, 
el aprovechamiento de los recursos de otros, la colaboración y la comunicación de resultados.
</div>
</div>

<div id="div-1c">
</div>
{% endblock %}