{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}
<div id="div-1a">
<div id="cuadro">
<b>Nuestro objetivo</b>
<br><br>
En Connecta tenemos como principal objetivo el aprendizaje de la construcción
científica y tecnológica. En los servicios de didáctica y divulgación
nos centramos en la construcción de conceptos ya construídos, mientras
que en la parte de desarrollo queremos fomentar la construcción de 
unos nuevos. Desde Connecta creemos que es crucial que las personas, en sus etapas formativas, 
aprendan a utilizar la información que tienen, trabajar en equipo y buscar recursos no
sólo para construir aquello que se requiere que sepan (adquirir
la alfabetización científica) sino para innovar, para ir un poco más allá. Al fin y al cabo
ese será su trabajo tanto si es en el ámbito puramente científico como si lo es en el más técnico.
<p> Con esta intención, desde Connecta diseñaremos y dirigiremos proyectos realizables a corto
plazo por estudiantes de entre 15 y 25 años. Los primeros se centrarán en la creación de aplicaciones
móvil y web sencillas. Más adelante propondremos otro tipo de proyectos, muchos de ellos relacionados con
la sostenibilidad y otros temas relevantes e interesantes para nuestra actualidad.
<p>¿Qué ganan los estudiantes que se involucren en uno de estos proyectos? Su posible comercialización
en caso de que se considere oportuno; y el propio aprendizaje de construcción científico-técnica, 
la convivencia con el error, las habilidades y estrategias para crear una solución, 
el aprovechamiento de los recursos de otros, la colaboración y la comunicación de resultados.
</div>
</div>

<div id="div-1b">
<h2> Para jóvenes/adultos </h2>
Proyectos dirigidos:
<ul>
<li>Programación</li>
<br>
<li>Trabajo en equipo y comunicación</li>
<br>
<li>Colaboraciones externas</li>
<br>
<li>Posible comercialización</li>
</ul>
Actualmente Connecta todavía no tiene sus propias instalaciones, donde se
dispondrá de todo el material necesario para la ejecución de estos proyectos, 
por lo que se reserva la iniciación del servicio de desarrollo 
hasta Septiembre de 2013. Abriremos la fecha de inscripción en los proyectos al 
final de este curso académico.
</div>

<div id="div-1c">
</div>
{% endblock %}