{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}


<div id="div-1a">
<div id="cuadro">
<b>phEC: No lo inventamos nosotros</b>
<br><br>
Numerosos estudios avalan la estrategia de aprendizaje de las ciencias vía la experimentación [1-5],
no sólo como una "posible elección" sino como una necesidad. Existe un consenso 
entre los expertos a favor de la sustitución de las estrategias de transmisión-recepción
por otras que orienten el aprendizaje como una tarea de innovación e investigación
donde los estudiantes participen en la (re)construcción de los conocimientos [6]:
es necesario introducir la enseñanza basada en la indagación &mdash;<i>inquiry based science education</i>&mdash;
frente a las tradicionales clases magistrales &mdash;<i>chalk and talk</i>&mdash;.
<br>A pesar de que el éxito de estas estrategias está demostrado experimentalmente, su aplicación
es más bien escasa en los centros de nuestro país y, en general, de Europa; y de darse, en
muchos casos es de una manera aislada (profesores que lo hacen de iniciativa
propia, sin el respaldo del centro o del sistema) [4]. Todo esto no está desvinculado del aumento del desinterés
por la ciencia, como analiza el informe de la Comisión Europea [1], elaborado a propósito
de la situación actual al respecto, que clama la necesidad de una alfabetización científica global 
y de la presencia de personas formadas en ciencias para construir una sociedad con futuro 
(mirad <i>Capítulo 1: ¿Cuál es la importancia de la educación científica en la sociedad actual?</i> de [2]), 
y más ahora en el contexto de una crisis socioeconómica.
<p>
Por estas razones Connecta quiere fomentar el aprendizaje desde una perspectiva constructivista [7], 
como un proceso activo, que depende tanto de los conocimientos previos como del contexto, y que se 
construye socialmente, en comunicación y concierto con otra gente. Se trata de
<b>aprender ciencia haciendo ciencia</b>, implicar a los estudiantes como investigadores noveles a la hora de
construir conocimientos [4,8]. El aprendizaje de las ciencias ha de ser una actividad abierta, creativa y 
debidamente orientada por el
profesor como <b>investigador experto</b>; esto garantiza que sea <i>significativo</i>, y que se desarrollen 
progresivamente tanto la autonomía de juicio como la capacidad de participación en trabajos colectivos [9].
<p> Los expertos señalan la importancia de que este proceso no es ni cerrado ni hermético, esto es, 
no hay una serie de consignas a seguir que se apliquen por orden con todos y cada uno de los alumnos, 
pero sí hay unas directrices generales que desde Connecta hemos querido resumir en el "acrónimo" phEC.
</div>
<div align="center"><img src="{{ MEDIA_URL }}phec.jpg" width="70%" height="70%" align="center"> </img></div>
<div id="cuadro">
[1] M. Rocard et al. Science education now: A renewed pedagogy for the future of europe. 2007.
<br> [2] Gil-Pérez et al. ¿Cómo promover el interés por la cultura científica? Una propuesta didáctica 
fundamentada para la educación científica de jóvenes de 15 a 18 años. UNESCO-OREALC, 2005.
<br>[3] D.L. (ed.) Gabell. Handbook of Research on Science Teaching and Learning. MacMillan Pub. Co. N.Y.,
1994.
<br>[4] S.K. Abell and Lederman N.G. Handbook of Research on Science Education. New York: Routledge, 2007.
<br>[5] Fraser B.J. et al. Second International Handbook of Science Education. Dordrecht: Springer, 2012.
<br>[6] Carlos Ferreira-Gauchía et al. Concepciones acerca de la naturaleza de la tecnología y 
de las relaciones Ciencia, Tecnología, Sociedad y Ambiente en la educación tecnológica. Enseñanza de las Ciencias, 
30:197–218, 2012.
<br>[7] Daniel Gil-Pérez et al. Defending Constructivism in Science Education. Science and Education, 11-6:557– 571, 2002.
<br>[8] P. Scott et al. Chapter 2: Student Conceptions and Conceptual learning in Science in Handbook of Research 
on Science Education. Abell, S.K. and Lederman N.G. Eds., New York: Routledge, 2007.
<br>[9] National Committee on Science Education Standards and National Research Council Assessment. 
National Science Education Standards. The National Academies Press, 1996.
<br>[10] D.A. Roberts. Chapter 25: Scientific Literacy/Science Literacy in Handbook of Research on Science Education. bell, S.K. and Lederman N.G. Eds., 
New York: Routledge, 2007.
</div>
</div>

<div id="div-1b">
<h2> Para estudiantes </h2>
Atención personalizada, individual o en pequeños grupos, para el trabajo de las materias de ciencias y matemáticas. 
Desde niveles de primaria y secundaria a primeros cursos (generales) universitarios o de ciclos formativos.
<h2> Para profesores </h2>
Desarrollamos aplicaciones de didáctica para que puedas usarlas en tus clases. Podemos trabajar contigo
para adaptarlas a tus necesidades docentes o te cedemos el uso a través de nuestra web.
<p><b>Formación de formadores</b>
</div>
<div id="div-1c"></div>


{% endblock %}