{% extends "base.html" %}

{% block title %}Connecta - Divulgación{% endblock %}

{% block content %}


<div id="cuadro">
<div align="center"><img src="{{ MEDIA_URL }}welc-div.png" width="100%" height="100%" align="center"> </img></div>
</div>
<br>

<div id="div-1a">

<div id="cuadroup">
<b>Nuestros servicios</b>
</div>
<div id="cuadro">
<div id="sometitles"> Divulgación infantil </div>
<ul>
<li>Talleres</li>
<br>
<li>Visitas guiadas a centros de investigación y museos</li>
<br>
<li>Jornadas temáticas</li>
</ul>
<div id="sometitles"> Para jóvenes y adultos </div>
<ul>
<li>Web-blog, por ahora puedes encontrarlo 
<a href="http://www.facebook.com/CienciaACasa" title="fb">aquí</a></li>
<br>
<li>Visitas guiadas a centros de investigación y museos</li>
<br>
<li>Charlas-debate y <i>journal clubs</i></li>
<br>
<li>Actividades periódicas: ¡Participa!</li>
</ul>
<div id="sometitles"> Transferencia </div>
<ul>
<li>Gestión de ciclos de conferencias para centros de investigación y universidades</li>
<br>
<li>Eventos de transferencia científica para empresas</li>
<br>
<li>Servicios de divulgación para ayuntamientos, asociaciones y entidades que los soliciten</li>
</ul>
</div>
</div>

<div id="div-1b">
<div id="cuadroup">
<b>¡Participa!</b>
</div>
<div id="cuadro">
Acierta la <a href="/welcome/" title="welcome">pregunta semanal</a>, entra
en <a href="/contacto/" title="contacto">Contacto</a> y envíanos tu respuesta
rellenando el formulario. Si eres
la primera persona en acertar publicaremos tu nombre y tu respuesta.
<p>
Ven al 100Trivial que organizamos una vez al mes y pasa un buen rato poniéndote a prueba.
<p>
Ven a los talleres infantiles que ofrecemos periódicamente; en ellos trabajamos un
concepto científico determinado con juegos y dinámicas teatrales para niños/jóvenes
a partir de 7 años. Tienen
una duración aproximada de una hora y tú puedes participar con ellos.
</div>
<div align="center"><img src="{{ MEDIA_URL }}1es2.png" width="100%" height="500%" align="center"> </img></div>
</div>

<div id="div-1c">
</div>
{% endblock %}

