{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}
<div id="div-1a">
<div id="cuadro">
<b>¡Participa!</b>
<br><br>
Acierta la <a href="/welcome/" title="welcome">pregunta semanal</a>, entra
en <a href="/contacto/" title="contacto">Contacto</a> y envíanos tu respuesta
rellenando el formulario. Si eres
la primera persona en acertar PuntosConnecta que podrás canjear por alguno de nuestros servicios
y publicaremos tu respuesta.
<p>
Ven al TrivialConnecta que organizamos una vez al mes y pasa un buen rato poniéndote a prueba.
<p>
Ven a los talleres infantiles que ofrecemos periódicamente; en ellos trabajamos un
concepto científico determinado con juegos y dinámicas teatrales para niños/jóvenes
a partir de 7 años. Tienen
una duración aproximada de una hora y tú puedes participar con ellos.
</div>
<div align="center"><img src="{{ MEDIA_URL }}1es2.png" width="100%" height="500%" align="center"> </img></div>
</div>

<div id="div-1b">
<h2> Infantil </h2>
<ul>
<li>Talleres</li>
<br>
<li>Visitas guiadas a centros de investigación y museos</li>
<br>
<li>Jornadas temáticas</li>
</ul>
<h2> Jóvenes y adultos </h2>
<ul>
<li>Web-blog, por ahora puedes encontrarlo 
<a href="http://www.facebook.com/CienciaACasa" title="fb">aquí</a></li>
<br>
<li>Visitas guiadas a centros de investigación y museos</li>
<br>
<li>Charlas-debate y <i>journal clubs</i></li>
<br>
<li>Actividades periódicas: ¡Participa!</li>
</ul>
<h2> Transferencia </h2>
<ul>
<li>Gestion de ciclos de conferencias para centros de investigación y universidades</li>
<br>
<li>Eventos de transferencia científica para empresas privadas</li>
<br>
<li>Servicios de divulgación para ayuntamientos, asociaciones y entidades que los soliciten</li>
</ul>
</div>

<div id="div-1c">
</div>
{% endblock %}

