{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}

<!-- 
<div id="cuadro">
<div align="center"><img src="{{ MEDIA_URL }}welcome.jpg" width="100%"  align="center"> </img></div>
</div>
 -->

<!-- 
<div id="cuadro">
<div class="aula">
<!~~ 
<div style="padding-left:70%;padding-top:14%;font-family:courier;">
Bar de Ciències<br>Dijous 9 de Maig a les 20 h<br>Biologia Sintètica amb Manel Porcar
<br>Més info baix, <i>Connecta tu agenda</i></div>
 ~~>
</div>
</div>
 -->

<div id="slider">
<input checked type="radio" name="slider" id="slide1" />
<input type="radio" name="slider" id="slide2" />
<input type="radio" name="slider" id="slide3" />
<input type="radio" name="slider" id="slide4" />
<input type="radio" name="slider" id="slide5" />
<div id="slides">
<div id="overflow">
<div class="inner">
<article><div class="info">
<h5></h5>
<a href="#"></a></div>
<img src="{{ MEDIA_URL }}bdcJose.jpg" />
</article>
<article><div class="info">

<h5></h5>
<a href="#"></a></div>
<img src="{{ MEDIA_URL }}tdc_lobo.jpg" />
</article>
<article><div class="info">


<h5></h5>
<a href="#"></a></div>
<img src="{{ MEDIA_URL }}welcome.jpg" />
</article>
<article><div class="info">
Taller infantil
<br>Parc Científic UV
<br>25 de Maig 10:00-13:30
<br>
<a style="color:white;" href="http://www.pcuv.es/es/Expociencia2013/Expociencia-2013.html">Expociencia 2013</a></div>
<img src="{{ MEDIA_URL }}expociencia.jpg" />
</article>
<article><div class="info">

<h5></h5>
<a href="#"></a></div>
<img src="{{ MEDIA_URL }}bdc3.jpg" />
</article>
</div>
</div>
</div>
<div id="controls">
<label for="slide1"></label><label for="slide2"></label><label for="slide3"></label><label for="slide4"></label><label for="slide5"></label></div>
<div id="active">
<label for="slide1"></label><label for="slide2"></label><label for="slide3"></label><label for="slide4"></label><label for="slide5"></label></div>
</div>


<div style="text-align:left;"><h2>Te interesa Connecta si...</h2></div>
<br>


<div style="width=1500px;height:230px;">
<ul id="int">
<li><a href="/didactica/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#FA8072;">
eres estudiante y 
necesitas refuerzo con materias de ciencias <div class="showme"><br>te enseñamos a aprenderlas</div></div></a></li>

<li><a href="/didactica/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#BDB76B;">
eres profesor de ciencias <div class="showme"><br>te ofrecemos <i>software</i> didáctico</div></div></a></li>

<li><a href="/divulgacion/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#4682B4;">eres una institución
o empresa que necesita actividades de transferencia <div class="showme"><br>
gestionamos tu proyecto</div></div></a></li>

<li><a href="/divulgacion/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#F4A460;">
te interesa la ciencia en general <div class="showme"><br>te invitamos a interaccionar con
esta web y a acudir a nuestras actividades de divulgación</div></div></a></li>

<li><a href="/desarrollo/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#8FBC8F;">estás en etapas
formativas y te gusta innovar <div class="showme"><br>te invitamos a formar parte de nuestros equipos de desarrollo</div>
</div></a></li>
</ul>
</div>

<br><br>

<div id="diva">
<div id="cuadroup">
<b>Las tres des: Divulgación, Didáctica y Desarrollo</b>
</div>
<div id="cuadro">
La divulgación de los conceptos de alto nivel
desarrollados por especialistas, el aprendizaje significativo de las ciencias en las etapas formativas
y la utilización de los recursos que ofrece una formación científica en cualquier ámbito social
son los tres pilares sobre los que trabaja Connecta. ¡Escoge el tuyo!
<div align="center">
<img src="{{ MEDIA_URL }}logo-arbol-blanco.jpg" width="50%" 
style="border:none;border-radius:50%;"> </img></div>
<div id="sometitles" align="right"> ¿Te conectas? </div>
</div>
<br>

<div id="cuadroup">
<b>Connecta tu agenda</b>
</div>

<div id="cuadro">
{% if ultimos_eventos %}
	{% for evento in ultimos_eventos %}
<div align="right"><b>{{evento.tipo}}</b></div>
<i>{{ evento.titulo }}</i>
<p>{{ evento.contenido_generico|safe|linebreaksbr }}
	{% if evento.contenido_especifico %}
<div class="showhimtext">
<div style="color:gray;"><b>Leer más</b></div>
<div class="showmetext" id="cuadro">
{{ evento.contenido_especifico|safe|linebreaksbr }}
</div></div>
	{% endif %}
<p><div id="coords">{{evento.fecha_ini|date:'H:i'}}-{{evento.fecha_final|date:'H:i'}}. 
{{evento.lugar}},
{% if evento.enlace_direccion %}
 <a href="{{evento.enlace_direccion}}"> {{evento.direccion}}</a>,
{% endif %}
 {{evento.ciudad}}, 
{{evento.fecha_ini|date:'d-m-Y'}}.</div>
<br>
	{% endfor %}
{% else %}
<p>No hay próximos eventos.
{% endif %}


</div>
</div>

<div id="divb">

<div id="cuadroup">
<b>Encén la bombeta</b>
</div>
<div id="cuadro">
Cada setmana proposem una pregunta.
Participa i respon emplenant el formulari de <a href="/contacto/">Contacte</a>; publiquem la primera resposta encertada.
<br>
<img src="{{ MEDIA_URL }}bombilla.jpg" width="100%"  align="center">

<script type="text/javascript">
var indice = 0;
frases = new Array();
frases[0] = "Envia la teua resposta";
frases[1] = "Participa!";
indice = Math.random()*(frases.length);
indice = Math.floor(indice);
function rotar() {
if (indice == frases.length) {indice = 0;}
document.getElementById("rotando").innerHTML = frases[indice];
indice++;
setTimeout("rotar();",2000);
}
</script>
<div id="rotando"></div><script type="text/javascript">rotar();</script>
</div>
<p>
<!-- Twitter -->

<a class="twitter-timeline" href="https://twitter.com/connectacpc" data-widget-id="317316659083886593" height="400">
Tweets por @connectacpc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Facebook -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="http://www.facebook.com/CienciaACasa" data-width="305" data-show-faces="false" 
data-stream="true" data-header="true"></div>


</div>

<div id="divc">
</div>


{% endblock %}