{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}
<div id="cuadro">
<div align="center"><img src="{{ MEDIA_URL }}welcome2.png" width="100%" height="100%" align="center"> </img></div>
</div>

<h2>Te interesa Connecta si...</h2>
<br>


<div style="width=1500px;height:230px;">
<ul id="int">
<li><a href="/didactica/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#FA8072;">
eres estudiante de primaria
o secundaria y tienes problemas con las ciencias <div class="showme"><br>te enseñamos a aprender</div></div></a></li>

<li><a href="/didactica/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#BDB76B;">
eres profesor de ciencias <div class="showme"><br>te ofrecemos <i>software</i> didáctico</div></div></a></li>

<li><a href="/divulgacion/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#4682B4;">eres una institución
o empresa que necesita actividades de transferencia <div class="showme"><br>
gestionamos tu proyecto</div></div></a></li>

<li><a href="/divulgacion/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#F4A460;">
te interesa la ciencia en general <div class="showme"><br>te invitamos a interaccionar con
esta web y a acudir a nuestras actividades de divulgación</div></div></a></li>

<li><a href="/desarrollo/" class="showhim"><div id="cuadro2" style="width:150px;background-color:#8FBC8F;">tienes entre 15
y 25 años y te gusta innovar <div class="showme"><br>te invitamos a formar parte de nuestros equipos de desarrollo</div>
</div></a></li>
</ul>
</div>

<br><br>

<div id="diva">
<div id="cuadroup">
<b>Las tres des: Divulgación, Didáctica y Desarrollo</b>
</div>
<div id="cuadro">
La divulgación de los conceptos de alto nivel
desarrollados por especialistas, el aprendizaje significativo de las ciencias en las etapas formativas
y la utilización de los recursos que ofrece una formación científica en cualquier ámbito social
son los tres pilares sobre los que trabaja Connecta. ¡Escoge el tuyo!
<div align="center">
<img src="{{ MEDIA_URL }}logo-arbol-blanco.jpg" width="50%" height="50%"
style="border:none;border-radius:50%;"> </img></div>
<div id="sometitles" align="right"> ¿Te conectas? </div>
</div>
<br>

<div id="cuadroup">
<b>Connéctate próximamente</b>
</div>
<div id="cuadro">
<div align="right"><b>Presentación del Proyecto Connecta</b></div>
<i>Promocionando la ciencia, en Valencia</i>

<p>Presentación pública de nuestro proyecto para invitar a su difusión y a la participación
en las actividades que ofrecemos. ¡Os esperamos!
<p><div id="coords">TBA, Valencia, 
20/04/2013</div>

<p>
<div align="right"><b>Taller infantil</b></div>
<i>Mira mamà, sóc un electró!</i>
<p>Taller con dinamización teatral sobre las partículas partículas elementales y las fuerzas. 
El taller tiene como objetivo la presentación de estos componentes fundamentales de la materia
y el aprendizaje de algunas de sus propiedades.
<p><div id="coords">Antiguo cauce del Túria (parada de metro Túria), Valencia, 
27/04/2013</div>

<p>
<div align="right"><b>Concurso Trivial</b></div>
<i>100Trivial</i>
<p>Trivial organizado por Connecta con preguntas relacionadas con la ciencia y la tecnología. Hay tres categorías:
"Conceptos básicos", "Problemas básicos", "Ciencia pro" y "Encuentra el error".
<p><div id="coords">TBA, Valencia, 
04/05/2013</div>

<p>
<div align="right"><b>Taller infantil</b></div>
<i>Fenómenos colectivos</i>
<p>Taller con dinamización teatral sobre los fenómenos colectivos. 
El taller tiene como objetivo el aprendizaje sobre los sistemas complejos y las consecuencias
de la interacción de muchas "partículas" en ejemplos concretos como la transmisión de un virus o 
los fenómenos meteorológicos.
<p><div id="coords">EXPOCIENCIA (Parc Científic, UV), Burjassot, 
25/05/2013</div>

</div>
</div>

<div id="divb">

<div id="cuadroup">
<b>Pregunta semanal</b>
</div>
<div id="cuadro">
En nuestra página de <a href="/welcome/">Bienvenida</a> te proponemos cada semana una pregunta.
Responde rellenando el formulario de <a href="/contacto/">Contacto</a> y publicamos tu respuesta.
<br>
<img src="{{ MEDIA_URL }}bombilla.png" width="100%" height="100%" align="center">
</div>
<p>

<!-- Twitter -->

<a class="twitter-timeline" href="https://twitter.com/connectacpc" data-widget-id="317316659083886593" height="400">
Tweets por @connectacpc</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];
if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";
fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<!-- Facebook -->

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_GB/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<div class="fb-like-box" data-href="http://www.facebook.com/CienciaACasa" data-width="305" data-show-faces="false" 
data-stream="true" data-header="true"></div>


</div>

<div id="divc">
</div>


{% endblock %}