{% extends "base.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}


<div id="cuadro">
<b>¿Por qué puede interesarte Connecta?</b>
<br><br>
Si eres estudiante de primaria o secundaria y tienes problemas con las matemáticas, la física u otras materias de ciencias, 
en Connecta te proponemos una estrategia de aprendizaje orientada específicamente a la construcción de los conceptos de las 
ciencias experimentales y matemáticas (phEC). Con phEC no vas a aprender estas materias, sino que vas a <b>aprender a aprenderlas</b>, 
para que una vez cumplidos tus objetivos seas autónomo y capaz de enfrentarte a nuevos problemas o dificultades por ti mismo. 
Podrás encontrar 
este servicio de didáctica en nuestro futuro centro y a través de esta web. Si precisas atención personalizada ahora mismo
ponte en contacto con nosotros: desde ya hasta la apertura del centro podrás encontrarnos en 
nuestros <b>centros amigos</b>. 
<br> Connecta también puede interesarte si eres profesor de ciencias experimentales o matemáticas 
y quieres hacer uso del <i>software</i>
didáctico que diseñamos y promocionamos en esta web. Podemos trabajar contigo para personalizar una aplicación o
cedértela para tu clase. Sabemos que es crucial para una formación completa fomentar el uso natural de las herramientas 
virtuales. Por eso también, como propio usuario, como estudiante, te puede interesar nuestra primera herramienta 
didáctica virtual: NoProbleM, 
¡entra y participa!
<p>
<b>¿Y por qué más?</b>
<p>Si te interesa la ciencia en general, entra en nuestra sección de divulgación y si tienes hijos o dedicas parte
de tu tiempo al cuidado o formación infantil, consulta nuestra oferta de talleres. Como centro de promoción, Connecta
también organiza ciclos de conferencias y gestiona proyectos de transferencia que si eres una empresa, ayuntamiento, 
universidad o centro de investigación, te pueden interesar.
<br>Connecta quiere impulsar la construcción científica no sólo de los conocimientos ya construidos, sino de nuevos conocimientos.
En nuestro futuro centro buscaremos estudiantes de entre 15 y 25 años que quieran implicarse en proyectos
de desarrollo a corto plazo; desde ya hasta su apertura, ofrecemos la posibilidad de realizarlos en los 
centros que estén interesados.
<div id="sometitles" align="right"> ¿Te conectas? </div>
</div>



{% endblock %}