{% extends "base2.html" %}

{% block title %}Connecta{% endblock %}

{% block content %}


<h1>Connecta</h1>
<h2>Centro de Promoción Científica</h2>

<div align="center"><img src="{{ MEDIA_URL }}logopalo.jpg" width="20%"  align="left"> </img></div>

<div id="div-1a">
<br>
<br>
<br>
<br>
<br>
<div style="font-family:Poiret One;font-size:18pt;">Connecta Empresa</div>
<p><div style="font-family:Poiret One;">Proyectos de transferencia</div>
<div style="font-family:Poiret One;">Gestión de cursos y conferencias</div>
<div style="font-family:Poiret One;">Recursos web</div>
<div style="font-family:Poiret One;">Divulgación</div>
<p><div style="font-family:Poiret One;font-size:12pt;width:110%;"><a href="/inicio/">Entrar</a></div>
</div>

<div id="div-1b">
<br>
<br>
<br>
<br>
<br>
<div style="font-family:Poiret One;font-size:18pt;">Connecta -te</div>
<p><div style="font-family:Poiret One;">Aula de ciencias</div>
<div style="font-family:Poiret One;">Didáctica para primaria y secundaria</div>
<div style="font-family:Poiret One;">Grupos de innovación y programación</div>
<div style="font-family:Poiret One;">Software didáctico</div>
</div>

<div id="div-1c">
</div>

{% endblock %}
