{% extends "base0_problems.html" %}

{% block title %}No problem{% endblock %}

{% block contentbase %}
<br>
¡Bienvenida/o a Noproblem! Regístrate a través del siguiente fomulario:
<p>
	{% if messages %} 
		{% for message in messages %}
			{% if 'success' in message.tags %}
				<p style="color: green;">
				{{ message }}
			{% else %}
				<p style="color: red;">
				{{ message }}
			{% endif %}
			</p>
		{% endfor %} 
	{% endif %} 
	
{% if form.errors %}
<br> 
<p style="color: red;"> 
Hay error{{ form.errors|pluralize:",es" }} en el formulario. Corrígelo{{ form.errors|pluralize:",s" }}.
</p> 
{% endif %} 

<form method="POST" action="">
    {% csrf_token %}
    {{form.as_ul}}
    <input type="submit">
</form>


{% endblock %}