{% extends "base0_problems.html" %}

{% block title %}No problem{% endblock %}

{% block contentbase %}
<br>
<br>
<br>
<br>
<br>
<br>
<div id="cuadro2b">No problem! es una herramienta didáctica basada en la resolución de problemas
que refuerza el aprendizaje de las ciencias a nivel de educación secundaria.</div>
 
<p>
	{% if messages %} 
		{% for message in messages %}
			{% if 'success' in message.tags %}
				<p style="color: green;">
				{{ message }}
			{% else %}
				<p style="color: red;">
				{{ message }}
			{% endif %}
			</p>
		{% endfor %} 
	{% endif %} 
	
{% if form.errors %}
<br> 
<p style="color: red;"> 
Hay {{ form.errors|pluralize:"un,varios" }} error{{ form.errors|pluralize:",es" }} 
en el formulario. Corrígelo{{ form.errors|pluralize:",s" }}.
</p> 
{% endif %} 

<div style="padding-left:30%;padding-right:30%;">
<div id="cuadroup" style="text-align:center;">
<b>Regístrate:</b>
</div>
<div id="cuadro" style="text-align:right;">

<form method="POST" action="">
    {% csrf_token %}
    {{ form.non_field_errors }}
	{% for field in form %}
        <div class="fieldWrapper">
            {{ field.errors|striptags }}
            {{ field.label_tag }} {{ field }}
        </div>
	{% endfor %}
    <div style="text-align:center;"><p><input type="submit" value="Registrar usuario" /></p></div>
</form>
</div>
</div>
<br>
<div style="text-align:center">
Volver a <a href="{% url problems:index %}">Inicio</a>.
</div>

{% endblock %}